body {
    background-color: #d3d3d3;
    color: black;
    margin: 8px;
}

* {
    font-family: "Arial", "serif";
    font-size: 14px;
}

.mainPane {
    background-color: white;
}

.floatRight {
    float: right;
    margin: 4px;
}

hr {
    color: black;
    height: 1pt;
    background: gray;
}

td {
    vertical-align: top;
}

button {
    border: 1pt solid black;
    font-size: 12px;
    font-weight: bold;
    background: #d7d7d7 url(images/button_gray_bg.png) repeat-x;
    height: 25px;
}
button:hover {
    background-position: 0 -25px;
    background-color: white;
}

button.refuse {
    height: 40px;
    border-color: #C9FA15;
    background: #bcd85f url(images/button_green_bg.png) repeat-x;
}
button.refuse:hover {
    background-position: 0 -25px;
    background-color: white;
}

button.connected {
    height: 40px;
}

.numberLabel {
    font-size: 22pt;
    font-weight: bolder;
    color: #555555;
}

.commentBox {
    background: none repeat scroll 0 0 #F8FCEB;
    border: 2pt solid #C9FA15;
    width: 100%;
}

.warningCommentBox {
    background: none repeat scroll 0 0 #FFE8E8;
    border: 2pt solid #C9FA15;
    width: 100%;
}

.commentLabel {
    font-size: 12px;
    width: 100%
}

.commentTextArea {
    border: none;
    background: none repeat scroll 0 0 #F8FCEB;
    width: 100%
}

.questionCaption {
    background: none repeat scroll 0 0 #F4FECC;
    border: 2pt solid #C9FA15;
    width: 100%
}

.questionComboBox {
    background: none repeat scroll 0 0 #F4FECC;
    border: 2pt solid #C9FA15;
    width: 100%
}

.logoutNotice {
    font-size: 10pt;
    font-style: italic;
}

.connectedQuestion {
    font-size: 8pt;
    font-style: italic;
}

.dialog {
    -webkit-box-shadow: 3px 3px 2px #888;
    width: 50%;
    background-color: #F8FCEB;
    border: 2pt solid #C9FA15;
}
