.gwt-DecoratorPanel {
}
.gwt-DecoratorPanel .topCenter {
    border-top: 1px solid #bbb;
    line-height: 0;
}
.gwt-DecoratorPanel .bottomCenter {
    border-bottom: 1px solid #bbb;
    line-height: 0;
}
.gwt-DecoratorPanel .topCenterInner,
.gwt-DecoratorPanel .bottomCenterInner {
    height: 1px;
    line-height: 0;
    font-size: 1px;
}
.gwt-DecoratorPanel .middleLeft {
    border-left: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleRight {
    border-right: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleLeftInner,
.gwt-DecoratorPanel .middleRightInner {
    width: 1px;
    line-height: 1px;
}
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
    width: 5px;
    height: 5px;
    zoom: 1;
    font-size: 1px;
    overflow: hidden;
}
.gwt-DecoratorPanel .topLeft {
    line-height: 0;
    background: url(../images/circles.png) no-repeat 0 -6px;
}
.gwt-DecoratorPanel .topRight {
    line-height: 0;
    background: url(../images/circles.png) no-repeat -5px -6px;
}
.gwt-DecoratorPanel .bottomLeft {
    line-height: 0;
    background: url(../images/circles.png) no-repeat 0 -11px;
}
.gwt-DecoratorPanel .bottomRight {
    line-height: 0;
    background: url(../images/circles.png) no-repeat -5px -11px;
}
* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
    width: 5px;
    height: 5px;
    overflow: hidden;
}

.gwt-DecoratorPanel .middleCenter {
    height: 100%;
    width: 100%;
}
