:root {
    --button-border-radius: 0.25rem;
    --combobox-border-radius: 0.1875rem;
    --textfield-border-radius: var(--combobox-border-radius);
    --table-border-radius: var(--combobox-border-radius);
    --panel-border-radius: var(--combobox-border-radius);
    --tab-border-radius-vert: 0 0 var(--combobox-border-radius) var(--combobox-border-radius);
    --tab-border-radius-horz: var(--combobox-border-radius) var(--combobox-border-radius) 0 0;
    --dialog-border-radius: 0.3rem;
    --border-padding: 0.125rem;
    --border-width: 1px;
}

/* this is is a hack class, when we want to inherit background-color but not the immediate parent, but the first non-transparent parent */
.background-inherit {
}

/* ------------ Form "dockables"  ------------ */
.dockableBlockingMask {
    background: black;
    opacity: 0.3;
    z-index: 10000;
}

/* ------------ Error Dialog ------------ */
.error-dialog-stacks {
    height: 30em;
}

.stackMessage {
    margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
    border: 1px solid var(--panel-border-color);
    padding: 0.3125rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /*!* Умный разбор длинных строк без пробелов по словам *!*/
    word-break: break-word;
}


/* ------------ Other components  ------------ */
.logPanel {
    white-space: nowrap;
}

.errorLogMessage {
    color: #ff4500;
}

.verticalStretchSeparator {
    border-left: 1px solid var(--panel-border-color);
    margin: 0.1875rem 0;
    padding: 0 0.125rem;
    align-self: stretch;
}

.verticalSeparator {
    border-left: 1px solid var(--panel-border-color);
}

.horizontalSeparator {
    width: 100%;
    border-bottom: 1px solid var(--panel-border-color);
}
