body, textarea, button, .gwt-Button, .gwt-Label, .gwt-TextBox, .gwt-TreeItem, .gwt-TabBarItem, .gwt-DialogBox .Caption,
.messageBox-messageContainer, .ResizableWindow-header, .captionPanelLegend, .checkBoxFilter, .comboBoxFilter,
.filterDialogHeader, .customFontPresenter {
    font-size: 8pt;
}

   body, textarea, select, .ResizableWindow-header, .gwt-DialogBox .Caption, .gwt-ListBox, .gwt-Label, .gwt-MenuBar .gwt-MenuItem,
.gwt-SuggestBox, .gwt-TextArea, .gwt-TextBox, .textBasedGridCellEditor, .leaflet-container {
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-family: Montserrat, Arial Unicode MS, Arial, sans-serif;
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
    font-family: 'Open Sans', Arial Unicode MS, Arial, sans-serif;
}

body, html {
    margin: 0;
}

/* ------------ Scrollbars ------------ */
body {
    /*firefox*/
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
    /*ie*/
    scrollbar-face-color: var(--scrollbar-color);
    scrollbar-arrow-color: var(--border-color);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*Fix buttons paddings and margins in FF*/
button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

/* ------------ Default gwt overrides ------------ */
:focus {
    outline: 0;
}

.gwt-Button {
    white-space: nowrap;
}

.gwt-ToggleButton {
    white-space: nowrap;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
}

input[type=checkbox]:focus {
    outline: 1px solid var(--focus-color);
}

.SplitPanelBase-hdragger {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    cursor: col-resize;
    width: 4px;
    top: 0;
    bottom: 0;
}

.SplitPanelBase-vdragger {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    cursor: row-resize;
    height: 4px;
    left: 0;
    right: 0;
}

.gwt-DecoratorPanel .middleCenter {
    height: 100%;
    width: 100%;
}

.closeTabButton {
    height: 17px;
    width: 17px;
    padding: 0 0 2px 0;
    margin-left: 2px;
    border: 0;
    border-radius: 3px;
    background: transparent;
    font-size: 8pt;
    font-family: tahoma;
    font-weight: bold;
    cursor: pointer;
}

.closeTabButton:hover {
    background: var(--close-tab-button-hover-color);
}

.closeTabButton[disabled] {
    cursor: default;
    color: var(--close-tab-button-disabled-color);
}

.tabLayoutPanelTabTitleWrapper {
    flex-shrink: 1 !important;
}

/* ------------ Message box styles ------------ */
.messageBox-button {
    width: 90px;
}

.messageBox-messageContainer {
    height: auto;
    overflow: auto;
    padding: 5px 5px 7px 5px;
}

/* ------------ Error box styles ------------ */
.errorBox-button {
    margin: 3px 3px 5px;
}

.errorBox-stackBox {
    resize: none;
    white-space: nowrap;
}

.errorBox-message {
    padding: 5px;
}

/* ------------ Resizable window ------------ */
.dragdrop-boundary {
    /*background-color: #F8F8F8; *//* light gray */
    /*border: 1px solid black;*/
}

.dragdrop-selected, .dragdrop-dragging {
    filter: none;
    opacity: 1;
}

.ResizableWindow {
    position: absolute;
    background-color: var(--background-color); /* prevent transparency */
    border: 1px solid var(--dialog-outer-border-color);
}

.ResizableWindow .ResizableWindow-header {
    background: var(--dialog-border-color);
    padding: 0 0 4px 0;
    cursor: default;
    font-weight: bold;
    border-bottom: 1px solid var(--dialog-outer-border-color);
    overflow: hidden;
}

@sprite .ResizableWindow .resize-edge {
    line-height: 1px;
    width: auto;
    height: auto;
}

.ResizableWindow .resize-edge-nw .dragdrop-handle {
    cursor: nw-resize;
}

.ResizableWindow .resize-edge-n .dragdrop-handle {
    cursor: n-resize;
}

.ResizableWindow .resize-edge-ne .dragdrop-handle {
    cursor: ne-resize;
}

.ResizableWindow .resize-edge-w .dragdrop-handle {
    cursor: w-resize;
}

.ResizableWindow .resize-edge-e .dragdrop-handle {
    cursor: e-resize;
}

.ResizableWindow .resize-edge-sw .dragdrop-handle {
    cursor: sw-resize;
}

.ResizableWindow .resize-edge-s .dragdrop-handle {
    cursor: s-resize;
}

.ResizableWindow .resize-edge-se .dragdrop-handle {
    cursor: se-resize;
}

.ResizableWindow .dragdrop-handle {
    background: var(--dialog-border-color);
}

/* ------------ Panel Renderer related styles ------------ */
.dataPanelRendererPanel {
    white-space: nowrap;
    cursor: default;
}

.dataPanelRendererGridPanel {
    border: 1px solid var(--border-color);
    position: relative;
}

.dataPanelRendererFocusPanel {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid var(--focus-color);
}

.actionPanelRenderer {
    padding: 3px 6px 2px;
    display: block; /*убираем лишние пикселы снизу при нахождении в ячейке таблицы*/
}

/* ------------ Caption panel ------------ */
.captionPanel {
    padding-top: 1px;
}

.captionPanelContainer {
    overflow: visible;
    position: relative;
    border: 1px solid var(--border-color);
    margin: 1em 1px 1px 1px;
    padding: 2px 1px 1px 1px;
}

.captionPanelLegend {
    position: absolute;
    top: -1.0em;
    left: 0.25em;
    white-space: nowrap;
    padding: 0 0.25em;
    background-color: var(--background-color);
    color: var(--caption-panel-legend-color);
}

.captionPanelLabel {
    position: absolute;
    top: -12px;
    left: 0.75em;
    white-space: nowrap;
    padding: 0 0.25em;
    background-color: white;
}

.captionPanelBorder {
    position: absolute;
    top: -4px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 2px groove threedface;
    border-radius: 5px;
}


.tableCaptionPanel {
    padding-top: 0.8em;
    padding-bottom: 0.15em;
}

.tableCaptionPanelContainer {
    border: 2px groove threedface;
    position: relative;
    padding: 4px 1px 1px 0;
    border-radius: 5px;
}

.tableCaptionPanelLegend {
    white-space: nowrap;
    left: 0.5em;
    top: -0.9em;
    position: absolute;
    padding: 0 0.25em;
    background-color: white;
}

/* ------------ Form containers ------------ */
.flowPanelChildLeftAlign {
    float: left;
}

.flowPanelChildRightAlign {
    float: right;
}

/* ------------ Navigator windows  ------------ */

.verticalToolbar {
    overflow-x: hidden;
    overflow-y: auto;
}

.horizontalToolbar {
    overflow-x: auto;
    overflow-y: hidden;
}

.toolbarNavigatorButton {
    border: solid 1px transparent;
    background: transparent;
    display: block;
}

.toolbarSelectedNavigatorButton {
    border: solid 1px var(--border-color);
    background: var(--selection-color);
}

.toolbarNavigatorButton:hover {
    border: solid 1px var(--border-color);
    background: var(--selection-color);
}

.panelNavigatorView {
    display: block;
}

/* ------------ Form "dockables"  ------------ */
.dockableBlockingMask {
    background: black;
    opacity: 0.3;
}

/* ------------ Filters ------------ */
.checkBoxFilter {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    margin: 2px;
}

.checkBoxFilter label {
    vertical-align: middle;
}

.comboBoxFilter {
    margin: auto 2px;
    height: 21px;
}

.dataFilterValueTablePanel {
    border: 1px solid var(--border-color);
    margin: 2px 2px 2px 1px;
    min-height: 16px !important;
}

.dataFilterValueTablePanelFocused {
    border: 1px solid var(--focus-color);
}

.filterDialogHeader {
    height: 18px;
    padding: 1px 5px 4px 4px !important;
}

.filterListBox {
    margin: 0 2px 0 0;
    height: 21px;
}

/* ------------ Popups  ------------ */
.popup {
    background-color: var(--background-color);
    border: 1px outset var(--border-color);
    padding: 2px;
}

.popup-sumBox {
    padding: 2px;
    text-align: right;
    width: 8em;
}

/* ------------ File upload dialog  ------------ */
.dropFilesLabel {
    margin-top: 6px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 13px;
    color: var(--focus-color);
    font-weight: bold;
    text-align: center;
    display: block;
    border: 2px dashed var(--border-color);
    border-radius: 7px;
}

.dropFilesLabelHover {
    border: 2px solid #444444;
    color: #7c9647;
}

.gwt-ProgressBar-shell {
    border: 1px solid var(--border-color);
    background-color: #AAAAAA;
    width: 50%;
    height: 12pt;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
    background-color: var(--focus-color);
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 8pt;
}

.upFileNameLabel {
    white-space: nowrap;
}

.uploadDialogContainer {
    padding: 5px;
    outline: none;
    height: 100%;
}

/* ------------ Loading blocker  ------------ */
.messageCanvas {
    position: absolute;
    background-color: rgba(226, 226, 226, 0.74);
    padding: 8px;
    overflow: hidden;
}

.messageLabel {
    word-wrap: break-word;
}

.busyDialog {
    text-align: center;
}

.stackMessage {
    margin: 5px 5px 5px 5px;
    border: 1px solid var(--border-color);
    padding: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /*!* Умный разбор длинных строк без пробелов по словам *!*/
    word-break: break-word;
}

/* ------------ Table user preferences  ------------ */
.listPositioner{
    z-index: 1;
    border-top: 1px dashed green;
    margin-top: 1px;
}

.userPreferencesDualList .dragdrop-selected {
    opacity: 1.0;
}

.userPreferencesDualList .draggableListBox {
}

.userPreferencesDualList .listBoxContainer {
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--border-color);
    padding: 2px 3px;
    margin: 1px;
}

.userPreferencesDualList .listBoxContainer:focus {
    border: 1px solid var(--focus-color);
}

.dualListButtonsContainer {
    margin: 0.5em;
}

.dualListButtonsContainer td {
    padding: 0.2em 0.5em;
}

.dualListButtonsContainer button {
    width: 3em;
}

.userPreferencesDualList .dragdrop-selected ,
.userPreferencesDualList .dragdrop-movable-panel .draggableListBoxItem {
    background-color: var(--selection-color);
}

.draggableListBoxItem .dragdrop-handle {
    background-color: var(--background-color);
}

.userPreferencesDualList .dragdrop-movable-panel {
    opacity: 0.5;
}

.userPreferencesIntegralTextBox {
    padding: 2px;
    text-align: right;
    width: 3em;    
}

.userPreferencesColumnTextBox {
    padding: 2px;
    flex: auto !important;
}

.userPreferencesCheckBox {
    display: flex;
}

.userPreferencesCheckBox label {
    margin: auto;
}

.userPreferencesFontLabel {
    padding-bottom: 1px;
}

.userPreferencesSaveResetButton {
    width: 13em;
    margin: 1px;
}

.userPreferencesRadioButton {
    display: inline-flex;
    align-items: center;
}

/* ------------ Colored corner triangles  ------------ */
.notNullCornerTriangle {
    border-color: transparent transparent var(--not-null-corner-triangle-color) transparent;
}

.changeActionCornerTriangle {
    border-color: transparent transparent var(--focus-color) transparent;
}

.rightBottomCornerTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 5px 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ------------ Pivot Table  ------------ */

.pivotTable {
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid var(--border-color);
}

.pivotTable:focus {
    border: 1px solid var(--focus-color);
}

.pvtAxisContainer {
    border: 1px solid var(--border-color);
    background-color: transparent;
}

.pvtAxisContainer li {
    padding: 6px 3px;
}

.pvtAxisContainer li span.pvtAttr {
    border: 1px solid var(--border-color);
    border-radius: 0;
    color: var(--text-color);
}

.pvtVals {
    border: 1px solid var(--border-color);
    background-color: transparent;
}

.pvtTable {
    width: 100%;
}

.pvtUi {
    color: var(--text-color);
    width: 100%;
}

.pvtUnused li span.pvtAttr {
    background: transparent;
}

.pvtRows li span.pvtAttr, .pvtCols li span.pvtAttr {
    background: var(--selection-color);
}

table.pvtTable, table.pvtTable tbody tr td, table.pvtTable thead tr td {
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

table.pvtTable thead tr th, table.pvtTable tbody tr th {
    background-color: transparent;
    border: 1px solid var(--border-color);
}

table.pvtTable tbody tr td {
    background-color: transparent;
}

.pvtCols, .pvtRendererArea {
    width: 100%;
}

.pvtRenderer, .pvtAggregator, .pvtCheckContainer, .pvtFilterBox input[type=text] {
    font-size: 8pt;
}

.pvtAggregator {
    margin-bottom: 1px;
}

.pvtColOrder, .pvtRowOrder {
    font-size: 10pt;
}

.pvtCheckContainer {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.pvtCheckContainer p {
    margin: 2px;
}

.pvtFilterBox {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
}

.pvtFilterBox button {
    margin: 6px;
}

.pvtFilterBox p {
    margin: 2px auto;
}

.pvtFilterBox h4 {
    margin: 12px auto;
}

.pvtFilterBox .count {
    color: var(--disabled-text-color);
}

.pvtFilterBox input[type=text] {
    border: 1px solid var(--border-color)
}

.pvtUi {
    /*to stretch last empty paxis*/
    height:100%;
}

.pvtRows, .pvtCols {
    border: 1px solid var(--border-color);;
}

.pvtColumnsTable {
    /*to stretch last empty paxis*/
    width:100%;
}

.pvtColumnsTable .paxis.stretch {
    /*to stretch last empty paxis*/
    width:100%;
}

.pvtColumnsTable .paxis li {
    display: block;
    padding: 2px 0 2px 0;
}

/*.paxis.pvtHorizList: there is a bug with incorrect width when drag'n'drop middle of 3 elements.
reproduces in chrome 80, in firefox 73 (latest) and chrome 70 (2018-10-16) width is correct */

.paxis {
    border: none;
    padding: 0;
}

.paxis:empty {
    padding: 5px;
}

.pvtColumnsTable .paxis:empty {
    min-width: 0;
}

.pvtRowsTable {
    /*to stretch last empty paxis*/
    width:100%;
    height:100%;
}

.pvtRowsTable .paxis {
    /*pvtPlaceHolder should be at the top*/
    vertical-align: top;
}

.pvtRowsTable .paxis.stretch {
    /*to stretch last empty paxis*/
    height:100%;
}

.pvtAxisContainer li.pvtPlaceholder {
    min-height: 20px;
    padding: 0 30px 0 0;
    margin:0 5px;
}

/* ------------ Leaflet components  ------------ */
.leaflet-container {
    border: 1px solid var(--border-color);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: var(--background-color);
    color: var(--text-color);
}

.leaflet-popup-content-wrapper {
    border-radius: unset;
}

.leaflet-bar {
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 17px;
}

.leaflet-popup-scrolled {
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.leaflet-bar a, .leaflet-bar a:first-child:hover {
    border-bottom: 1px solid var(--border-color);
}

.leaflet-bar a:hover {
    background-color: var(--close-tab-button-hover-color) !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
}

.leaflet-container .leaflet-control-attribution {
    background-color: var(--leaflet-control-transparent-background);
    color: var(--text-color);
}

.leaflet-bar a {
    border-radius: unset !important;
}

.leaflet-marker-icon img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.leaflet-marker-cluster {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -15px; /* -half size + margin marker icon (6) - border */
    top: -15px; /* -half size + margin marker icon (6) - border */
    border: 1px solid var(--border-color);
}

.leaflet-marker-cluster-text {
    padding: 10px 0;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

/* ------------ Other components  ------------ */
.gridResizePanel{
    min-height: 70px;
    min-width: 130px;
    margin: 2px;
}

.toolbarButton {
    height: 20px;
    width: 20px;
    display: block;
    border: none;
}

.toolbarButton:hover {
    border: 1px solid var(--border-color);
}

.toolbarItem {
    margin: 1px 4px 0 0;
}

.logPanel {
    white-space: nowrap;
}

.errorLogMessage {
    color: #ff4500;
}

.dateTimeEditorBox {
    width: 11em;
    padding: 2px;
    text-align: right;
    float: right;
    margin-bottom: 1px;
}

.boxSized {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.displayBlock {
    display: block;
}

.noOutline {
    outline: none;
}

.nullValueString {
    color: var(--null-value-string-color);
}

.requiredValueString {
    color: var(--required-value-string-color);
}

.floatRight {
    float: right;
}

.positionRelative {
    position: relative;
}

.filterDialogButton {
    margin: 0;
    height: 21px;
    width: 21px;
}

.imageButtonWithoutCaption {
    padding: 1px;
}

.verticalSeparator {
    border-left: 1px solid var(--border-color);
}

