
.prop {
    overflow: hidden;

    box-sizing: content-box; /* it's important to have content-box sizing, since we're setting explicit heights for the renderer element (and we don't want paddings to be included, since we're calculating elements heights based on contents) */
}

.prop.comp-shrink-horz {
    overflow-x: hidden;
}

.prop.comp-shrink-vert {
    overflow-y: hidden;
}
