.gwt-SplitLayoutPanel-HDragger {
    cursor: col-resize;
    width: 4px !important; /* is overriden by width with border in SplitLayoutPanel */
    /*border-left: 1px solid var(--split-border-color);*/
    border-right: 1px solid var(--split-border-color);
}

.gwt-SplitLayoutPanel-VDragger {
    cursor: row-resize;
    height: 4px !important; /* is overriden by width with border in SplitLayoutPanel */
    /*border-top: 1px solid var(--split-border-color);*/
    border-bottom: 1px solid var(--split-border-color);
}

.SplitPanelBase-hdragger {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    cursor: col-resize;
    width: 4px;
    top: 0;
    bottom: 0;
}

.SplitPanelBase-vdragger {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    cursor: row-resize;
    height: 4px;
    left: 0;
    right: 0;
}