.gwt-TextBox {
    padding: 0.3125rem 0.25rem;
    border: 1px solid var(--component-border-color);
    border-radius: var(--textfield-border-radius);
    font-size: small;
}
.gwt-TextBox-readonly {
    color: #888;
}
.gwt-TextBox:focus {
    border: 1px solid var(--focus-color);
}