.gwt-TextArea {
    padding: 4px;
    border: 1px solid var(--component-border-color);
    border-radius: var(--textfield-border-radius);
    border-top: 1px solid #666;
    font-size: 100%;
}
.gwt-TextArea-readonly {
    color: #888;
}