.gwt-TextBox {
    padding: 5px 4px;
    border: 1px solid var(--component-border-color);
    border-radius: var(--textfield-border-radius);
    font-size: small;
}
.gwt-TextBox-readonly {
    color: #888;
}
.gwt-TextBox:focus {
    border: 1px solid var(--focus-color);
}