@def fontSize 8pt;

.dataGridWidget {
    border: 1px solid lightGrey;
    margin: 2px;
    cursor: default;
}

.dataGridHeader {
}

.dataGridHeaderCell {
    border-left: 1px solid #CCCCCC;
    padding: 0 2px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}

.dataGridFirstHeaderCell {}

.dataGridLastHeaderCell {
    border-right: 1px solid #CCCCCC;
}

.dataGridFooter {}
.dataGridFooterCell {}
.dataGridFirstFooterCell {}
.dataGridLastFooterCell {}

.dataGridRow {
    background: #ffffff;
}

.dataGridCell {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;

    padding: 0;

    overflow: hidden;
}

.dataGridCell p {
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    white-space: pre;
}

.dataGridFirstCell {}

.dataGridLastCell {
    border-right: 1px solid #CCCCCC;
}

.dataGridKeyboardSelectedRow {
    background: rgba(4, 137, 186, 0.09411764705882353);
}

.dataGridKeyboardSelectedRowCell {}

.dataGridFocusedCell {
    border-bottom: 1px solid #0489BA;
    border-left: 1px solid #0489BA;
}

.dataGridFocusedCellLastInRow {
    border-bottom: 1px solid #0489BA;
    border-left: 1px solid #0489BA;
    border-right: 1px solid #0489BA;
}

.dataGridRightOfFocusedCell {
    border-left: 1px solid #0489BA;
}

.dataGridTopOfFocusedCell {
    border-bottom: 1px solid #0489BA;
}
