/* all these classes are also implicitly used in imaged.html */

.html-or-text-wrap,
.html-or-text-wrap-collapse {
    hyphens: auto;
    overflow-wrap: normal; /* it seems that user agent sometimes by default sets it to break-word, word-break in html-or-text-wrap-wordbreak will change it if needed (actually it will be ignored) */
}

.html-or-text-wrap {
    white-space: pre-wrap;
}

.html-or-text {
    white-space: pre;
}

.html-or-text-wrap-collapse,
.html-or-text-wrap.html-or-text-is-html
{
    white-space: normal;
}

.html-or-text-collapse {
    white-space: nowrap;
}

.html-or-text-wrap-wordbreak {
    word-break: break-word;
}

.html-or-text-ellipsis {
    text-overflow: ellipsis;
}

.is-chrome .html-or-text-wrap-fixed,
.is-chrome .html-or-text-wrap-fixed.wrap-text-not-empty.wrap-img-horz {
    display: -webkit-box;
    -webkit-line-clamp: var(--fixed-lines);
    -webkit-box-orient: vertical;
}

:not(.is-chrome) .html-or-text-wrap-fixed {
    max-height: var(--fixed-lines) !important;
}

.force-break {
    word-break: break-all;
}