<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-lazy-init="true">

    <bean id="dataAdapter" class="platform.server.data.sql.PostgreDataAdapter">
		<constructor-arg value="#{systemProperties['platform.server.logics.dbname'] ?: 'usmeshka'}"/>
		<constructor-arg value="localhost"/>
		<constructor-arg value="postgres"/>
		<constructor-arg value="11111"/>
	</bean>

	<bean id="priceImport" class="tmc.integration.imp.PriceImportTask">
		<constructor-arg ref="businessLogics"/>
		<constructor-arg><list><value>imp</value><value>imp2</value></list></constructor-arg>
		<constructor-arg><list><value type="int">9</value><value type="int">2129</value></list></constructor-arg>
		<constructor-arg><list><value type="int">10</value><value type="int">10</value></list></constructor-arg>
        <constructor-arg><list><value type="int">12</value><value type="int">2135</value></list></constructor-arg>
	</bean>

    <bean id="saleExport" class="tmc.integration.exp.SaleExportTask">
        <constructor-arg ref="businessLogics"/>
        <constructor-arg><list><value>exp</value><value>exp2</value></list></constructor-arg>
        <constructor-arg><list><value type="int">7</value><value type="int">2127</value></list></constructor-arg>
    </bean>

    <bean id="backup" class="platform.server.backup.BackupTask">
		<constructor-arg ref="dataAdapter"/>
        <constructor-arg><value type="int">10</value></constructor-arg>
        <constructor-arg><value type="int">4</value></constructor-arg>
        <constructor-arg><value type="int">3</value></constructor-arg>
        <constructor-arg value="backup/"/>
        <property name="binPath" value="C:/Program Files/PostgreSQL/8.4/bin/" />
    </bean>

    <bean id="scheduler" class="platform.server.logics.scheduler.Scheduler">
        <constructor-arg><value type="int">5000</value></constructor-arg>
        <constructor-arg>
            <list>
                <!--<ref bean="priceImport"/>-->
                <!--<ref bean="saleExport"/>-->
                <ref bean="backup"/>
            </list>
        </constructor-arg>
    </bean>

	<bean id="businessLogics" class="tmc.VEDBusinessLogics">
		<constructor-arg ref="dataAdapter"/>
		<constructor-arg type="int" value="7652"/>
        <!--<property name="scheduler"><ref bean="scheduler"/></property>-->
		<property name="formSets"><map>
    	    <entry key="cashregister"
                   value="commitSaleForm,saleCheckCertForm,returnSaleCheckRetailArticleForm,cachRegManagementForm"/>
		</map></property>
        <property name="requiredPassword" value="false"/>
	</bean>

    <!--bean id="settings" class="platform.server.Settings">
        <property name="limitExclusiveSimpleCount"><value type="int">100000</value></property>
        <property name="limitExclusiveSimpleComplexity"><value type="int">100000</value></property>
    </bean-->

<!-- default ports: 6666, 6667, 6668 -->
    <!--bean id="serverInstanceLocator" class="platform.server.net.ServerInstanceLocator">
        <constructor-arg type="int" value="6666"/>
        <constructor-arg type="int" value="#{businessLogics.exportPort}"/>
    </bean-->
</beans>