<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-lazy-init="true">

    <bean id="props" class="java.util.Properties" >
        <constructor-arg>
            <props>
                <prop key="exportPort">11111</prop>
            </props>
        </constructor-arg>
    </bean>

    <bean id="dataAdapter" class="platform.server.data.sql.PostgreDataAdapter">
        <constructor-arg value="#{systemProperties['paas.scripted.db.name']}"/>
        <constructor-arg value="localhost"/>
        <constructor-arg value="postgres"/>
        <constructor-arg value="11111"/>
    </bean>

    <bean id="businessLogics" class="paas.scripted.ScriptedBusinessLogics" factory-method="createInstance">
        <constructor-arg ref="dataAdapter" />
        <constructor-arg value="#{systemProperties['paas.scripted.port']}" />
        <constructor-arg value="#{systemProperties['paas.scripted.modules']}"/>
    </bean>

    <bean id="lifecycleManager" class="platform.server.lifecycle.LifecycleManager">
        <constructor-arg>
            <bean class="paas.manager.client.AppManagerLifecycleNotifier"/>
        </constructor-arg>
    </bean>
</beans>