<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ALL"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="serverlog" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="20MB"/>
        <param name="file" value="logs/server.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="sqllog" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="20MB"/>
        <param name="file" value="logs/sql.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="remotelog" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="20MB"/>
        <param name="file" value="logs/remote-server.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </layout>
    </appender>

    <category name="platform.server.logics.BusinessLogics">
        <priority value="INFO"/>
    </category>

    <category name="platform.server.data.SQLSession" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="sqllog"/>
        <appender-ref ref="serverlog"/>
    </category>

    <category name="platform.server.data.SQLSessionLoggerAspect" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="sqllog"/>
        <appender-ref ref="serverlog"/>
    </category>

<!--
    <category name="platform.server.remote.RemoteObjectLoggerAspect" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="remotelog"/>
    </category>
-->

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="stderr"/>
        <appender-ref ref="serverlog"/>
    </root>
</log4j:configuration>