body, table td, select {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 11px;
}

.normal {
    color: #323232;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 11px;
}

.projectHeaderLine {
    background-color: #323232;
}

.projectLabel {
    color: #323232;
    font-family: Georgia, sans-serif;
    font-size: 26px;
}

.descriptionLabel {
    color: #323232;
    font-family: Georgia, sans-serif;
    font-size: 15px;
}

.descriptionText {
    color: #323232;
    font-family: Georgia, sans-serif;
    font-size: 12px;
    padding: 15px;
}
