.gwt-PopupPanel {
    background: var(--background-color);
    border: 1px solid var(--dialog-outer-border-color);
    border-radius: var(--panel-border-radius);
}

.popupContent {
    /*border: 0.1875rem solid var(--dialog-border-color);*/
    padding: var(--border-cont-vert-padding) var(--border-cont-horz-padding);
    background: var(--background-color);
    border: 1px solid var(--dialog-outer-border-color);
    border-radius: var(--dialog-border-radius);
}

.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.popup-dialog {
    z-index: 2000;
}