<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %X{client} - %X{computer} - %X{remoteAddress} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="serverlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/server.log"/>
            <param name="fileNamePattern" value="logs/server-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="servererr" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/server-err.log"/>
            <param name="fileNamePattern" value="logs/server-err-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="sqllog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/sql.log"/>
            <param name="fileNamePattern" value="logs/sql-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %X{client} - %X{computer} - %X{remoteAddress} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="sqlhandlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/sqlhand.log"/>
            <param name="fileNamePattern" value="logs/sqlhand-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %X{client} - %X{computer} - %X{remoteAddress} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="lrulog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/lru.log"/>
            <param name="fileNamePattern" value="logs/lru-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="assertlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/assert.log"/>
            <param name="fileNamePattern" value="logs/assert-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="exinfolog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/exinfo.log"/>
            <param name="fileNamePattern" value="logs/exinfo-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="jdbclog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="13"/>
            <param name="activeFileName" value="logs/jdbc.log"/>
            <param name="fileNamePattern" value="logs/jdbc-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="990485760"/> <!-- 90MB -->
        </triggeringPolicy>
        <layout class="lsfusion.server.data.SimpleLayout">
        </layout>
    </appender>

    <appender name="remotelog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/server-remote.log"/>
            <param name="fileNamePattern" value="logs/server-remote-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="100485760"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %X{client} - %X{computer} - %X{remoteAddress} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="maillog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/mail.log"/>
            <param name="fileNamePattern" value="logs/mail-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="100485760"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="scriptlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/script.log"/>
            <param name="fileNamePattern" value="logs/script-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="100485760"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="importlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/import.log"/>
            <param name="fileNamePattern" value="logs/import-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="invocationlog" class="lsfusion.logging.FlushableRollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="12"/>
            <param name="activeFileName" value="logs/invocation.log"/>
            <param name="fileNamePattern" value="logs/invocation-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <category name="SystemLogger">
        <priority value="ALL"/>
    </category>

    <category name="RemoteLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="remotelog"/>
    </category>

    <category name="MailLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="maillog"/>
    </category>

    <category name="SQLLogger">
        <priority value="INFO"/>
        <appender-ref ref="sqllog"/>
    </category>

    <category name="SQLHandLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="sqlhandlog"/>
    </category>

    <category name="LRULogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="lrulog"/>
    </category>

    <category name="AssertLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="assertlog"/>
    </category>

    <category name="ExInfoLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="exinfolog"/>
    </category>

    <category name="JDBCLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="jdbclog"/>
    </category>

    <category name="PausableInvocationsLogger" additivity="false">
        <priority value="ALL"/>
        <appender-ref ref="invocationlog"/>
        <!--<appender-ref ref="stdout"/>-->
    </category>

    <category name="ScriptLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="scriptlog"/>
    </category>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="serverlog"/>
        <appender-ref ref="servererr"/>
    </root>
</log4j:configuration>