<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>ProjectsService</servlet-name>
        <servlet-class>skolkovo.gwt.expert.server.ExpertServiceImpl</servlet-class>
        <init-param>
            <description>Сервер, на котором работает сервер приложения.</description>
            <param-name>serverHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <description>Порт, на котором работает сервер приложения.</description>
            <param-name>serverPort</param-name>
            <param-value>7652</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectsService</servlet-name>
        <url-pattern>/skolkovo.gwt.expert.Expert/ProjectsService</url-pattern>
    </servlet-mapping>

    <!-- Описание ограниченных урлов  -->
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Private area</web-resource-name>
        <url-pattern>/private.html</url-pattern>
        <!--<url-pattern>/skolkovo.gwt.Expert/ProjectsService</url-pattern>-->
      </web-resource-collection>
      <auth-constraint>
        <role-name>expert</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- Определение вида аутентификации  -->
    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>You must log in</realm-name>
    </login-config>

    <security-role>
      <role-name>expert</role-name>
    </security-role>


</web-app>
