
.header {
    overflow: hidden;
}

.wrap-div {
    width: 100%;
    height: 100%;

    /*overflow: hidden;*/
}

.wrap-wrapimgdiv {
    display: flex;

    overflow: hidden;
}

.wrap-imgdiv {
    flex: 1 1 auto;
    align-self: stretch;
}

.wrap-img {
    /*overflow: hidden;*/
    flex: 0 0 auto;
    align-self: center;
}

/* this 2 classes are not used for now (see usages) */
.dataGridColumnRow {
    /* does exactly what we need, used in layout, but not visible*/
    visibility: collapse;
}
.dataGridColumnRowPrefCell {
}
.dataGridColumnRowFlexCell {
}

