
.prop-header {
    overflow: hidden;
}

.wrap-div {
    width: 100%;
    height: 100%;

    /*overflow: hidden;*/
}

.wrap-wrapimgdiv {
    display: flex;

    overflow: hidden;
}

.wrap-imgdiv {
    flex: 1 1 auto;
    align-self: stretch;
}

.wrap-img {
    /*overflow: hidden;*/
    flex: 0 0 auto;
    align-self: center;
}

/* this 2 classes are not used for now (see usages) */
.dataGridColumnRow {
    /* does exactly what we need, used in layout, but not visible*/
    visibility: collapse;
}
.dataGridColumnRowPrefCell {
    /* we have to drop up and down borders, because otherwise in chrome there will be the problem with the visibility collapse (1px will remain creating a whole)*/
    /* for dataGridColumnRowFlexCell - remove-all-pmb removes up and down borders */
    border-top: 0;
    border-bottom: 0;
}
.dataGridColumnRowFlexCell {
}

/* it seems that firefox treats visibility:collapse as visibility hidden,
to fix this we just collapse all heights in the virtual gridColumnRow
it's not the perfect solution, but maybe sometime firefox will fix this bug and it will be possible to remove this hack*/
@supports (-moz-appearance: none) {
    .dataGridColumnRow, .dataGridColumnRow * {
        height : 0 !important;
        line-height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;

        /* otherwise for input border is not set to 0px and still 2px + there extra paddings */
        /* maybe it should be set only for input checkbox, but for now we'll do it for all dom elements */
        -moz-appearance: none !important;
        vertical-align: top !important;
    }
}

.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataGridHeaderCell-caption {
    white-space: normal;
    word-break: break-word;
}

.sort-img {
    /*overflow: hidden;*/
}

.dataGridHeader {
}
.dataGridHeaderCell {
    /* ??? */
    /*overflow: hidden;*/
}

.dataGridFooter {
}
.dataGridFooterCell {
    /* ??? */
    /*overflow: hidden;*/
}
