.logicalRendererCheckBox {
}

/* ------------ Link Mode ------------ */
/* we want to turn cell to hyper link*/
.linkMode .selectedCellHasEdit {
    color: var(--link-color) !important;
    cursor: pointer !important;
}

.linkMode .selectedCellHasEdit:hover {
    text-decoration: underline;
}

.linkMode .selectedFileCellHasEdit {
    border: 1px solid var(--link-color);
}
