
/* we're adding background-inherit to set the background for all that classes */

.dataGridHeaderRow {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.dataGridFooterRow {
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.dataGridHeaderCell {
    /*position: sticky;*/
    /*top: 0;*/
    /*z-index: 1;*/
}

.dataGridFooterCell {
    /*position: sticky;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
}

.dataGridStickyCell,
.dataGridStickyCell.property-not-null,
.dataGridStickyCell.property-has-change,
.dataGridStickyCell.fill-parent-position {
    position: sticky;

    z-index: 1;
}

.dataGridStickyHeader,
.dataGridStickyHeader.property-not-null,
.dataGridStickyHeader.property-has-change,
.dataGridStickyHeader.fill-parent-position {
    position: sticky;

    z-index: 1001;
}

.dataGridStickyFooter,
.dataGridStickyFooter.property-not-null,
.dataGridStickyFooter.property-has-change,
.dataGridStickyFooter.fill-parent-position {
    position: sticky;

    z-index: 1001;
}

.dataGridStickyOverflow {
    z-index: 0;
}
