
/* we're adding background-inherit to set the background for all that classes */

.data-grid-header-row {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.data-grid-footer-row {
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

/* likely because of rounding in mobile version we see double border under footer */
/*@media (max-width: 570px) {*/
/*    .table.empty-footer .data-grid-footer-row {*/
/*        bottom: -1px;*/
/*    }*/
/*}*/

.data-grid-header-cell {
    /*position: sticky;*/
    /*top: 0;*/
    /*z-index: 1;*/
}

.data-grid-footer-cell {
    /*position: sticky;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
}

.data-grid-sticky-cell:not(.data-grid-sticky-overflow),
.data-grid-sticky-footer:not(.data-grid-sticky-overflow) {
    position: sticky !important;

    z-index: 2; /* z-index: 2 because in bootstrap "btn-group>.btn-check:checked+.btn" rule z-index: 1, and selected button overlaid on sticky column */
}

.data-grid-sticky-header:not(.data-grid-sticky-overflow),
.data-grid-sticky-header.data-grid-header-cell.property-not-null:not(.data-grid-sticky-overflow),
.data-grid-sticky-header.data-grid-header-cell.property-has-change:not(.data-grid-sticky-overflow),
.data-grid-sticky-header.fill-parent-position:not(.data-grid-sticky-overflow) {
    position: sticky;

    z-index: 1001;
}

.data-grid-sticky-footer:not(.data-grid-sticky-overflow),
/*.data-grid-sticky-footer.property-not-null,*/
/*.data-grid-sticky-footer.property-has-change,*/
.data-grid-sticky-footer.fill-parent-position:not(.data-grid-sticky-overflow) {
    position: sticky;

    z-index: 1001;
}

/*.data-grid-sticky-cell.data-grid-sticky-overflow,*/
/*.data-grid-sticky-cell.fill-parent-position.data-grid-sticky-overflow,*/
/*.data-grid-sticky-header.data-grid-sticky-overflow,*/
/*.data-grid-sticky-header.data-grid-header-cell.property-not-null.data-grid-sticky-overflow,*/
/*.data-grid-sticky-header.data-grid-header-cell.property-has-change.data-grid-sticky-overflow,*/
/*.data-grid-sticky-header.fill-parent-position.data-grid-sticky-overflow,*/
/*.data-grid-sticky-footer.data-grid-sticky-overflow,*/
/*.data-grid-sticky-footer.fill-parent-position.data-grid-sticky-overflow {*/
/*    z-index: 0;*/
/*}*/
