.logicalRendererCheckBox {
}

/*disable removing indeterminate state by clicking on readonly field */
.logicalRendererCheckBox:indeterminate {
    pointer-events: none;
}

/* ------------ Link Mode ------------ */
/* we want to turn cell to hyper link*/
.linkMode .selectedCellHasEdit {
    color: var(--link-color) !important;
}

.linkMode .selectedCellHasEdit,
.linkMode .selectedCellHasEdit *,
.linkMode .selectedCellHasEdit .wrap-text-not-empty{
    cursor: pointer;
}

.linkMode .selectedCellHasEdit:hover {
    text-decoration: underline;
}

.linkMode .selectedFileCellHasEdit {
    border: 1px solid var(--link-color);
}
