
/* we're adding background-inherit to set the background for all that classes */

.dataGridHeaderRow {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.dataGridFooterRow {
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

/* likely because of rounding in mobile version we see double border under footer */
/*@media (max-width: 570px) {*/
/*    .table.empty-footer .dataGridFooterRow {*/
/*        bottom: -1px;*/
/*    }*/
/*}*/

.dataGridHeaderCell {
    /*position: sticky;*/
    /*top: 0;*/
    /*z-index: 1;*/
}

.dataGridFooterCell {
    /*position: sticky;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
}

.dataGridStickyCell:not(.dataGridStickyOverflow),
.dataGridStickyFooter:not(.dataGridStickyOverflow) {
    position: sticky !important;

    z-index: 2; /* z-index: 2 because in bootstrap "btn-group>.btn-check:checked+.btn" rule z-index: 1, and selected button overlaid on sticky column */
}

.dataGridStickyHeader:not(.dataGridStickyOverflow),
.dataGridStickyHeader.dataGridHeaderCell.property-not-null:not(.dataGridStickyOverflow),
.dataGridStickyHeader.dataGridHeaderCell.property-has-change:not(.dataGridStickyOverflow),
.dataGridStickyHeader.fill-parent-position:not(.dataGridStickyOverflow) {
    position: sticky;

    z-index: 1001;
}

.dataGridStickyFooter:not(.dataGridStickyOverflow),
/*.dataGridStickyFooter.property-not-null,*/
/*.dataGridStickyFooter.property-has-change,*/
.dataGridStickyFooter.fill-parent-position:not(.dataGridStickyOverflow) {
    position: sticky;

    z-index: 1001;
}

/*.dataGridStickyCell.dataGridStickyOverflow,*/
/*.dataGridStickyCell.fill-parent-position.dataGridStickyOverflow,*/
/*.dataGridStickyHeader.dataGridStickyOverflow,*/
/*.dataGridStickyHeader.dataGridHeaderCell.property-not-null.dataGridStickyOverflow,*/
/*.dataGridStickyHeader.dataGridHeaderCell.property-has-change.dataGridStickyOverflow,*/
/*.dataGridStickyHeader.fill-parent-position.dataGridStickyOverflow,*/
/*.dataGridStickyFooter.dataGridStickyOverflow,*/
/*.dataGridStickyFooter.fill-parent-position.dataGridStickyOverflow {*/
/*    z-index: 0;*/
/*}*/
