.gwt-Tree .gwt-TreeItem {
    padding: 0.0625rem 0px;
    margin: 0px;
    white-space: nowrap;
    cursor: hand;
    cursor: pointer;
}
.gwt-Tree .gwt-TreeItem-selected {
    background: var(--selection-color);
}
.gwt-TreeItem .gwt-RadioButton input,
.gwt-TreeItem .gwt-CheckBox input{
    margin-left: 0;
}
* html .gwt-TreeItem .gwt-RadioButton input,
* html .gwt-TreeItem .gwt-CheckBox input {
    margin-left: -0.25rem;
}

.passby-image {
    background-repeat: no-repeat repeat;
}