*, html, body, div, form, label, fieldset, input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em; /* Prevents an IE bug where em's scale out of proportion */
}

html, body {
    height: 100%;
}

body, input {
    font-family: 'Segoe UI', 'Open Sans', Arial Unicode MS, Arial, sans-serif;
}

fieldset, img {
    border: 0;
}

a {
    color: #2069b4;
    text-decoration: none;
}

a:hover, a:focus {
    outline: none;
    color: #2a2e36;
    border-bottom: 1px dotted;
}

form {
    width: 18.75em;
    margin: 0 auto;
}

form label {
    display: block;
    text-transform: uppercase;
    color: #2a2e36;
    margin: 0 0 4px 0;
}

form input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #d9dbdd;
    padding: 1em 0.625em;
    outline: none;
    font-size: 1em;
    height: 40px;
}

form input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover,
form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #bbbdbe;
}

form input[type="submit"] {
    border: none;
    cursor: pointer;
    padding: 1.085em;
    height: 40px;
    width: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    font-weight: bold;
    text-transform: uppercase;
}


.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    border: solid #eeefef;
    border-width: 4px 0;
    padding: 26px 0 25px;
}

.footer {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.round {
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
}

.blue {
    background-color: #2069b4;
    color: white;
}

.blue:hover {
    background-color: #5081b3;
    color: white;
}

.label-and-field {
    margin-bottom: 16px;
}

.password-labels-container {
    display: flex;
    justify-content: space-between;
}

.action-button {
    margin-top: 4px;
    margin-bottom: 5px;
}

.action-button, .label-and-field {
    font-size: 12px;
}

.full-width-box {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    align-self: center;
    margin: 24px 0;
}

.title {
    align-self: center;
    margin-bottom: 26px;
    font-size: 18px;
}

.error-block {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: left;
    margin: 15px auto 5px;
    overflow-wrap: break-word;
}
.error-block.restricted-error {
    margin: 0 auto;
}

details summary::-webkit-details-marker {
    color: #75AEEA;
}

.fa-yandex:before {
    content: "\f19e";
}

.reg-block {
    margin: 11px auto 2px auto;
    justify-content: center;
}

.oauth-block {
    align-self: center;
    margin-top: 21px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oauth-title {
    font-size: 13px;
    margin-bottom: 2px;
}

.title, .oauth-title {
    color: #9498a1;
}

.oauth-link {
    margin: 0 30px;
}

.oauth-link:hover, .oauth-link:focus {
    border-bottom: none;
    margin-bottom: 0;
}

.main-page-link, .desktop-link {
    align-self: center;
    margin: 26px 0;
}

.link, .error-block, .reg-block {
    font-size: 12px;
}

.appNotAvailable {
    align-self: center;
}

.appNotAvailableReconnect {
    padding-top: 3em;
}

.appNotAvailableReconnect button {
    background: none;
    border: none;
    color: #2069b4;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
}