body {
    background-color: #f8f9fa;
    font-size: 2em;
}

html, body {
    height: 100%;
}

body, input {
    font-family: 'Segoe UI', 'Open Sans', Arial Unicode MS, Arial, sans-serif;
}

input, .title {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #2069b4;
}

form {
    padding: 0 0.5em;
}

form label {
    display: block;
    text-transform: uppercase;
    color: #2a2e36;
    margin: 0 0 0.3125em 0;
}

form input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #d9dbdd;
    padding: 0.625em;
    outline: none;
}

form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #bbbdbe;
}

form input[type="submit"] {
    border: none;
    cursor: pointer;
    margin-top: 0.35em;
    padding: 1.16em;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

fieldset {
    padding: 0;
    border: 0;
}


.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.footer {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.round {
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
}

.blue {
    background-color: #2069b4;
    color: white;
}

.label-and-field {
    margin-bottom: 1.1em;
}

.password-labels-container {
    display: flex;
    justify-content: space-between;
}


.full-width-box {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    align-self: center;
    margin: 1.1em 0;
    width: 60%;
}

.title {
    align-self: center;
    margin-bottom: 1.1em;
}

.desktop-link {
    display: none;
}

.error-block {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 1px solid #ff0000;
    padding: 1.1em;
    text-align: left;
    margin: 1.5em auto 0;
    overflow-wrap: break-word;
}

details summary::-webkit-details-marker {
    color: #75AEEA;
}

.fa-yandex:before {
    content: "\f19e";
}

.reg-block {
    margin-top: 0.9em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.oauth-block {
    align-self: center;
    margin-top: 1.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oauth-title {
    font-size: 1.1em;
    margin-bottom: 0.8em;
}

.title, .oauth-title {
    color: #9498a1;
}

.oauth-link {
    font-size: 2em !important;
    margin: 0 1em;
}

.main-page-link {
    align-self: center;
    margin: 1em ;
}
