#macro (displayTree $page)
	#if ($page.isRootLevel())
		#displayContentNodeAndChildren($page)
	#else
		#displayTree($page.getParent())
	#end
#end

#macro (displayContentNodeAndChildren $page)
    #foreach ($child in $page.getSortedChildren())
     <li>
        #set ($childTitle = $generalUtil.htmlEncode($child.title))
         <a href="$exportUtils.getTitleAsHref($child.title)">$childTitle</a>
        <ul>
            #displayContentNodeAndChildren($child)
        </ul>
     </li>
    #end 
#end

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>$generalUtil.htmlEncode($page.space.name) : $page.title</title>
        <link rel="stylesheet" href="styles/site.css" type="text/css" />
        <link rel="stylesheet" href="styles/navigation.css" type="text/css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.jstree.js"></script>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

    <body>
        <div id="page">
			<div id="site-header">
			  <h1>lsFusion</h1>
			  <ul>
				<li><a href="http://lsfusion.ru/%25D0%259E%25D0%25B1%25D0%25B7%25D0%25BE%25D1%2580.html">Обзор</a></li>
				<li><a href="http://lsfusion.ru/%25D0%259F%25D1%2580%25D0%25B8%25D0%25BC%25D0%25B5%25D1%2580%25D1%258B.html">Примеры</a></li>
				<li><a href="http://lsfusion.ru/%25D0%2594%25D0%25BE%25D0%25BA%25D1%2583%25D0%25BC%25D0%25B5%25D0%25BD%25D1%2582%25D0%25B0%25D1%2586%25D0%25B8%25D1%258F.html">Документация</a></li>
				<li><a href="http://lsfusion.ru/lsFusion%2BERP.html">lsFusion ERP</a></li>
				<li><a href="http://lsfusion.ru/%25D0%25A1%25D0%25BA%25D0%25B0%25D1%2587%25D0%25B0%25D1%2582%25D1%258C.html">Скачать</a></li>
			  </ul>
			</div>
			
			<div id="site-main">
				<div class="main_top">
					<h1>$page.title</h1>
				</div>

				<div class="main_body">
					#set ($documentation = $page.title.trim() == "Документация")
					#foreach ($parent in $page.getAncestors())
						#if ($parent.title.trim() == "Документация")
							#set ($documentation = true)
						#end
					#end

					#if ($documentation)
					<div class="main_tree">
						<ul>
							#displayTree($page);
						</ul>
					</div>
					<div class="main_content">
						$contentConverter.convertToXHtml($page)
					</div>
					#else
					<div class="main_content_no_tree">
						$contentConverter.convertToXHtml($page)
					</div>
					#end
				</div>
			</div>
		       <div id="site-footer">
		       </div>
        </div>
    </body>
</html>
<script type="text/javascript">
	$(".main_tree").jstree({
		"types" : { 
			"types" : { 
				"default" : { 
					"select_node" : function(e) {
										document.location = e.children("a").attr("href");
										return false;
									} 

				}
			} 
		},
		"plugins" : [ "themes", "html_data","types", "ui" ],
		"ui" : {
			"select_limit" : 1
		}
	});
	$(".main_tree").bind("loaded.jstree", function (event, data) {
		$(".main_tree").find("a").each( function(index){
			#if ($page.children.size() > 0)
				#set ($pageTitle = $page.title)
			#else
				#set ($pageTitle = $page.getParent().title)
			#end
			if($(this).text().trim()=="$pageTitle") {
				#set( $D = '$' )
				${D}.jstree._reference(".main_tree").open_node($(this),function(){;},true);
			}
		});
	});
</script>
