<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-lazy-init="true">

    <bean id="exportPort" class="java.lang.Integer">
        <constructor-arg type="int" value="7652"/>
    </bean>
    
    <bean id="dataAdapter" class="platform.server.data.sql.PostgreDataAdapter">
        <constructor-arg value="retailnew"/>
        <constructor-arg value="localhost"/>
        <constructor-arg value="postgres"/>
        <constructor-arg value="11111"/>
    </bean>

    <bean id="businessLogics" class="retail.RetailBusinessLogics">
        <constructor-arg ref="dataAdapter"/>
        <constructor-arg ref="exportPort"/>
    </bean>

    <bean id="serverAgentServer" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="localhost:6666"/>
    </bean>

</beans>