.gwt-DecoratedPopupPanel .popupContent {
}
.gwt-DecoratedPopupPanel .popupMiddleCenter {
    padding: 0.1875rem;
    background: var(--background-color);
}
.gwt-DecoratedPopupPanel .popupTopCenter {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupTopLeftInner {
    width: 2px;
    height: 2px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopRightInner {
    width: 2px;
    height: 2px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
    width: 2px;
    height: 2px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomRightInner {
    width: 2px;
    height: 2px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopLeft {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupTopRight {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupBottomLeft {
    background: var(--dialog-border-color);
}
.gwt-DecoratedPopupPanel .popupBottomRight {
    background: var(--dialog-border-color);
}
* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
    width: 2px;
    height: 2px;
    overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupTopRightInner {
    width: 2px;
    height: 2px;
    overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
    width: 2px;
    height: 2px;
    overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
    width: 2px;
    height: 2px;
    overflow: hidden;
}