
.btn-toolbar .btn-group {
    margin-left: var(--border-comp-horz-padding);
    margin-right: var(--border-comp-horz-padding);
}

.btn-toolbar .btn:hover {
    background-color: var(--component-hover-background-color);
}