*, html, body, div, form, label, fieldset, input, p, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 1em; /* Prevents an IE bug where em's scale out of proportion */
}



html, body {
    height: 100%;
}

.round {
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
}

p {
    margin-bottom: 1.25em;
    color: #9498a1;
}



body, form {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.125em;
}

p, a, form input, .errorblock {
    font-size: 0.75em;
}

form p input[type="text"], form p input[type="password"] {
    font-size: 1em;
}



a {
    color: #2069b4;
}

a:hover {
    color: #2a2e36;
}

a:hover {
    border-bottom: 1px dotted;
}

.blue {
    background-color: #2069b4;
    color: white;
}

.blue:hover {
    background-color: #5081b3;
    color: white;
}



.full-width-input {
    width: 95%;
}

.image-right {
    background-position: right center;
    padding-right: 3em;
}

.ic-left-arrow {
    background-image: url("../images/left_arrow.png");
}

.ic-right-arrow {
    background-image: url("../images/right_arrow.png");
}

form label {
    display: block;
    text-transform: uppercase;
    color: #2a2e36;
    margin: 0 0 0.3125em 0;
}

form input[type="text"], input[type="password"], textarea {
    border: 1px solid #d9dbdd;
    padding: 1em 0.625em;
    outline: none;
}

form input[type="text"]:hover, input[type="password"]:hover, textarea:hover,
form input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #bbbdbe;
}

form input[type="submit"] {
    border: none;
    cursor: pointer;
    padding: 0.833em;

    background-position: right center;
    padding-right: 3em;
    background-repeat: no-repeat;
    font-weight: bold;
    text-transform: uppercase;
}

form p em {
    margin-top: 0.833em;
    display: block;
}

.content-table {
    height: 100%;
    width: 100%;
}

div#content {
    background: #f8f9fa;
    border: solid #eeefef;
    border-width: 4px 0;
    padding: 1.875em 0;
}

form#login-form {
    width: 18.75em;
    margin: 0 auto;
}

.desktop-link {
    padding-top: 0.833em;
    float: right;
}

.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: left;
    width: 30em;
    margin: 10px auto;
}
