<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:config="http://www.springframework.org/schema/context"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                                 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
                                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                                 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <config:annotation-config />

    <http auto-config="true" use-expressions="true" entry-point-ref="loginUrlAuthenticationEntryPoint">
        <intercept-url pattern="/form.jsp" access="isAuthenticated()"/>
        <intercept-url pattern="/platform.gwt.form.Form/*" access="isAuthenticated()"/>

        <form-login authentication-failure-url="/login.jsp?error=1" default-target-url="/form.jsp"/>

        <anonymous enabled="false" />

        <logout invalidate-session="true" logout-url="/logout.jsp" success-handler-ref="successLogoutHandler"/>

        <access-denied-handler ref="accessDeniedHandler" />

        <custom-filter ref="expiredSessionFilter" before="SESSION_MANAGEMENT_FILTER" />

        <custom-filter ref="propertyReadAccessFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
    </http>

    <b:bean id="daoAuthenticationProvider" class="platform.gwt.base.server.spring.GwtAuthenticationProvider">
        <b:property name="passwordEncoder" ref="passwordEncoder" />
        <b:property name="userDetailsService" ref="logicsUserService" />
    </b:bean>

    <b:bean id="passwordEncoder" class="platform.gwt.base.server.spring.Base64ShaPasswordEncoder">
        <b:constructor-arg value="256"/>
    </b:bean>

    <b:bean id="expiredSessionFilter" class="platform.gwt.base.server.spring.ExpiredSessionFilter">
        <!-- фильтруем запросы к gwt-сервисам -->
        <b:property name="urlPattern" value="/platform\.gwt\.(?!login\.).*/dispatch.*"/>
    </b:bean>

    <b:bean id="readFileHandler" class="platform.gwt.base.server.handlers.ReadFileRequestHandler"/>

    <b:bean id="generateReportHandler" class="platform.gwt.base.server.handlers.GenerateReportRequestHandler"/>

    <b:bean id="propertyReadAccessFilter" class="platform.gwt.base.server.spring.PropertyReadAccessFilter">
        <b:property name="URI" value="/readFile"/>
    </b:bean>

    <b:bean id="successLogoutHandler" class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler" >
        <b:property name="targetUrlParameter" value="targetUrl" />
        <b:property name="defaultTargetUrl" value="/form.jsp" />
    </b:bean>

    <b:bean id="accessDeniedHandler" class="platform.gwt.base.server.spring.AccessDeniedHandlerImpl" >
        <b:property name="errorPage" value="/restricted.jsp" />
    </b:bean>

    <b:bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <b:property name="useForward" value="true"/>
        <b:property name="loginFormUrl" value="/login.jsp"/>
    </b:bean>

    <authentication-manager>
        <authentication-provider ref ="daoAuthenticationProvider"/>
    </authentication-manager>

    <b:bean id="logicsUserService" class="platform.gwt.base.server.spring.GwtLogicsUserDetailsService">
        <b:property name="businessLogicProvider" ref="blLogicProvider" />
    </b:bean>

    <b:bean id="blLogicProvider" class="platform.gwt.base.server.spring.BusinessLogicsProviderImpl">
        <b:constructor-arg ref="servletContext"/>
    </b:bean>

    <b:bean scope="session" id="navigatorProvider" class="platform.gwt.base.server.spring.NavigatorProviderImpl">
        <aop:scoped-proxy proxy-target-class="false"/>
    </b:bean>

    <b:bean scope="session" id="formManager" class="platform.gwt.form.server.FormSessionManager" />
</b:beans>