:root {
    --focus-color: #0790c3; /* after changing, synchronize the appropriate value in StyleDefaults.getFocusColor() */
    --selection-color: #2C4751; /* also hardcoded in StyleDefaults.java */
    --scrollbar-color: #585C5E;
    --text-color: #bbbbbb; /* also hardcoded in StyleDefaults.java */
    --disabled-text-color: #6b6b6b;
    --background-color: #3C3F41; /* also hardcoded in StyleDefaults.java */
    --component-background-color: #45494A; /* also hardcoded in StyleDefaults.java */
    --split-border-color: var(--component-border-color);
    --dialog-border-color: var(--scrollbar-color);
    --component-border-color: #646464;
    --panel-border-color: #515151;
    --grid-separator-border-color: #5E6364; /* also hardcoded in StyleDefaults.java */
    --dialog-outer-border-color: #696969;
    
    --caption-panel-legend-color: #7d7d7d;
    --null-value-string-color: #757575;
    --required-value-string-color: #c54d4d;
    --not-null-corner-triangle-color: #c30000;
    --not-null-line-color: #9a0000;
    --close-tab-button-disabled-color: #5d5d5d;
    --button-disabled-hover-border-color: #6b6b6b;
    --button-hover-background-color: #53585A;
    --button-active-background-color: #5B5F62;
    --component-hover-border-color: #467F93;
    --component-hover-background-color: #46494B;
    --component-active-background-color: #505355;
    --leaflet-control-transparent-background: rgba(43, 43, 43, 0.85);

    --date-picker-day-is-weekend-background-color: #3e3e3e;
    --date-picker-day-is-filler-color: #8e8e8e;
    --date-picker-day-is-value-background-color: #416946;
    --date-picker-day-is-today-background-color: #497bc5;
    --date-picker-day-is-highlighted-background-color: #716817;

    --link-color: #000000;
}
