.leaflet-tooltip {
    background: none;
    position: absolute;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    width: 140px;
    text-align: center;
    text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 3px 2px #fff, -2px 3px 2px #fff, 2px -3px 2px #fff, -2px -3px 2px #fff, 3px 2px 2px #fff, -3px 2px 2px #fff, 3px -2px 2px #fff, -3px -2px 2px #fff, 1px 2px 2px #fff, -1px 2px 2px #fff, 1px -2px 2px #fff, -1px -2px 2px #fff, 2px 1px 2px #fff, -2px 1px 2px #fff, 2px -1px 2px #fff, -2px -1px 2px #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #333;
    box-shadow: none;
    padding: unset;
    border: none;
    white-space: unset;
}