:root {

    --focus-color: #0489BA; /* after changing, synchronize the appropriate value in StyleDefaults.getFocusColor() */
    --selection-color: #D3E5E8; /* also hardcoded in StyleDefaults.java */
    --scrollbar-color: #DCDCDC;
    --text-color: #000000; /* also hardcoded in StyleDefaults.java */
    --disabled-text-color: #888;
    --background-color: #F2F2F2; /* also hardcoded in StyleDefaults.java */
    --component-background-color: #FFFFFF; /* also hardcoded in StyleDefaults.java */
    --split-border-color: var(--component-border-color);
    --dialog-border-color: var(--scrollbar-color);
    --component-border-color: #c4c4c4;
    --panel-border-color: #D1D1D1;
    --grid-separator-border-color: #E6E6E6; /* also hardcoded in StyleDefaults.java */
    --dialog-outer-border-color: #bbb;
    --mobile-navigator-arrow-color: var(--dialog-outer-border-color);
    
    --caption-panel-legend-color: #929292; 
    --null-value-string-color: #A7A7A7;
    --required-value-string-color: #C70D00;
    --not-null-corner-triangle-color: #ff0000;
    --not-null-line-color: #ffb8b8;
    --close-tab-button-disabled-color: #a9a9a9;
    --button-disabled-hover-border-color: #bbb;
    --button-hover-background-color: #F7F7F7;
    --button-active-background-color: #E6E6E6;
    --component-hover-border-color: #84C0D6;
    --component-hover-background-color: #E6E6E6;
    --component-active-background-color: #DEDEDE;
    --leaflet-control-transparent-background: rgba(255, 255, 255, 0.7);
    
    --date-picker-next-prev-month-day-background-color: #f7f7f7;
    --date-picker-next-prev-month-day-color: #999;
    --date-picker-selection-background-color: #08c;
    --date-picker-selection-color: #fff;

    --option-selected-hover-color: #99c3ca;

    --link-color: #0000FF;

    --border-padding: 2px;

    --border-width: 1px;
}
