.pivotTable {
    border: 1px solid var(--panel-border-color);
    border-radius: var(--panel-border-radius);
    -webkit-border-radius: var(--panel-border-radius);
    -moz-border-radius: var(--panel-border-radius);
}

.pivotTable:focus {
    border: 1px solid var(--focus-color);
}

.pivotTable-noSettings {
    border: none;
}

.pvtUiWrapperDiv {
    height: 100%;
    width: 100%;
}

.pvtUiContainer {
    height: 100%;
    width: 100%;
}

.pvtUiCellVDiv {
    height: 100%;
    overflow: hidden auto;
}

.pvtUiCellHDiv {
    width: 100%;
    overflow: auto hidden;
}

.pvtUi {
    color: var(--text-color);
    /*to stretch last empty paxis*/
    height:100%;
    width: 100%;
}

.pvtUi-noSettings {
    border-spacing: 0;
}

.pvtTable {
    width: 100%;
}

table.pvtTable {
    color: var(--text-color);
    text-align: left;

    /* see DataGrid.css, dataGridTableWrapperWidget*/
    border-spacing: 0
}

table.pvtTable tbody tr td,
table.pvtTable tbody tr th,
table.pvtTable thead tr th {
    /* the same as dataGridCell, dataGridHeaderCell, table.pvtTable thead tr th/td */
    border-left: 1px solid var(--grid-separator-border-color);
    border-bottom: 1px solid var(--grid-separator-border-color);

    overflow: hidden;
    white-space: nowrap;
    padding: 0 3px;
    font-weight: normal;
}

table.pvtTable tbody tr th,
table.pvtTable thead tr th {
    color: var(--text-color);
}

table.pvtTable thead tr th {
    background-color: var(--background-color);
}

table.pvtTable thead tr th:last-of-type:not(.colshow),
table.pvtTable tbody tr td:last-of-type{
    /* the same as dataGridLastCell, dataGridLastHeaderCell, table.pvtTable thead tr th:last-of-type */
    border-right: 1px solid var(--grid-separator-border-color);
}

table.pvtTable .pvtColLabel {
    text-align: center
}

table.pvtTable .pvtColLabel .wrapperDiv {
    text-align: left
}

table.pvtTable .pvtTotalLabel {
    text-align: right
}

table.pvtTable tbody tr td {
    background-color: var(--component-background-color);

    vertical-align: top;
    text-align: right
}

.pvtVals {
    text-align: center;
    white-space: nowrap
}

.pvtCols {
    width: 100%;
    padding: 0;
}

.pvtRows, .pvtCols {
    border: 1px solid var(--panel-border-color);
    border-radius: var(--panel-border-radius);
    -webkit-border-radius: var(--panel-border-radius);
    -moz-border-radius: var(--panel-border-radius);
}

.pvtRows li div.pvtAttr, .pvtCols li div.pvtAttr {
    background: var(--selection-color);
}

.pvtColumnsTable {
    border-spacing: 0;
    /*to stretch last empty paxis*/
    width:100%;
}

.pvtColumnsTable .paxis.stretch {
    /*to stretch last empty paxis*/
    width:100%;
}

.pvtColumnsTable .paxis li {
    margin: 4px 0;
}

.pvtColumnsTable .paxis:empty {
    min-width: 0;
}

.pvtColOrder,
.pvtRowOrder {
    font-size: 10pt;
    
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block
}

.pvtColOrder {
    margin-right: 2px;
}

.pvtAxisContainer,
.pvtVals {
    border: 1px solid var(--panel-border-color);
    border-radius: var(--panel-border-radius);
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-border-radius: var(--panel-border-radius);
    -moz-border-radius: var(--panel-border-radius);
}

.pvtUiCell {
    padding: 0;
}

.pvtUiCell > div {
    padding: 4px;
}

.pvtAxisContainer li {
    list-style-type: none;
    cursor: move;
    display: flex;
    flex-direction: column;
}

.pvtAxisContainer li.pvtPlaceholder {
    vertical-align: bottom;
    outline: 1px dashed var(--component-border-color);
    outline-offset: -1px;
}

.pvtAxisContainer li,
.pvtAxisContainer li.pvtPlaceholder,
.pvtAxisContainer > li.pvtPlaceholder:only-child {
    margin: 4px;
}

.pvtAxisContainer li div.pvtAttr {
    -webkit-text-size-adjust: 100%;
    border: 1px solid var(--component-border-color);
    border-radius: var(--combobox-border-radius);
    color: var(--text-color);
    background-color: var(--component-background-color);
    padding: 0 5px;
    white-space: nowrap;
    display: flex;
    align-self: start;
    -webkit-border-radius: var(--combobox-border-radius);
    -moz-border-radius: var(--combobox-border-radius);
}

/*.paxis.pvtHorizList: there is a bug with incorrect width when drag'n'drop middle of 3 elements.
reproduces in chrome 80, in firefox 73 (latest) and chrome 70 (2018-10-16) width is correct */
.paxis {
    border: none;
    padding: 0;
}

.paxis:empty {
    padding: 2px;
}

.pvtRowsTable {
    border-spacing: 0;
    /*to stretch last empty paxis*/
    width:100%;
    height:100%;
}

.pvtRowsTable .paxis {
    /*pvtPlaceHolder should be at the top*/
    vertical-align: top;
}

.pvtRowsTable .paxis.stretch {
    /*to stretch last empty paxis*/
    height: 100%;
}

.pvtTriangle {
    cursor: pointer;
    color: var(--text-color);
    align-self: center;
    padding-left: 3px;
}

.pvtHorizList {
    white-space: nowrap; /*to prevent list from going vertical*/ 
}

.pvtHorizList > li {
    display: inline-flex;
}

.pvtHorizList > li,
.pvtHorizList > li.pvtPlaceholder {
    margin: 0 0 0 4px;
}

.pvtUnused.pvtHorizList li {
    display: inline-flex;
    margin-right: 0;
}

.pvtAxisContainer li.pvtPlaceholder { /*should be after .pvtUnused.pvtVertList li*/
    max-width: 50px;
}

.pvtAttrText {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
}

.pvtVertList > li.pvtPlaceholder {
    margin: 4px 0 0 0;
}

.pvtVertList {
    vertical-align: top
}

.pvtFilteredAttribute {
    font-style: italic
}

.pvtFilterBox {
    cursor: default;
    width: 300px;
    border: 1px solid var(--component-border-color);
    background-color: var(--background-color);
    position: absolute !important; /* draggable() sets relative */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pvtFilterBox h4 {
    margin: 12px auto;
}

.pvtFilterBox p {
    margin: 2px auto;
}

.pvtFilterBox button {
    margin: 6px;
}

.pvtFilterBox label {
    font-weight: 400
}

.pvtFilterBox input[type=checkbox] {
    margin-right: 10px;
    margin-left: 10px
}

.pvtFilterBox input[type=text] {
    border: 1px solid var(--component-border-color);
    width: 230px
}

.pvtFilterBox .count {
    color: var(--disabled-text-color);
    font-weight: 400;
    margin-left: 3px
}

.pvtCheckContainer {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 250px;
    border-top: 1px solid var(--panel-border-color);
    border-bottom: 1px solid var(--panel-border-color);
}

.pvtCheckContainer p {
    margin: 2px;
}

.pvtRendererArea {
    cursor: default;
    display : flex;
    flex-direction : column;
    height : 100%;
    width: 100%;
    padding: 0;
}

.pvtRendererHeader {
    flex : 0 1 auto;
}

.pvtRendererBody {
    border: 1px solid var(--component-border-color);
    border-radius: var(--table-border-radius);
    position : relative;
    flex : 1;
    -webkit-border-radius: var(--table-border-radius);
    -moz-border-radius: var(--table-border-radius);
}
.pvtRendererFooter {
    flex : 0 1 auto;
}

.pvtRendererScrollDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.pvtRenderer {
    margin: 5px 0 5px 5px;
    max-width: 150px;
}

.pvtAggregator {
    margin: 4px 0 4px 4px;
}
