.ql-editor {
    width: 100%;
    padding: 1px 0;
    color: var(--text-color);
    font-family: 'Segoe UI', 'Open Sans', Arial Unicode MS, Arial, sans-serif;
    font-size: 9pt;
}

.ql-tooltip {
    white-space: normal; /*for the tooltip is not hidden behind the parent component*/
}

.ql-clipboard {
    white-space: normal;
}