    body {
    }

    /* AxisLabel */
    table.pvtTable .pvtAxisLabel {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.expanded {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.expanded .axisHeaderArrowDiv {
        cursor: zoom-out !important;
    }
    table.pvtTable .pvtAxisLabel.expanded.zoom {
        cursor: zoom-out !important;
    }
    table.pvtTable .pvtAxisLabel.collapsed {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.collapsed .axisHeaderArrowDiv {
        cursor: zoom-in !important;
    }
    table.pvtTable .pvtAxisLabel.collapsed.zoom {
        cursor: zoom-in !important;
    }

    /* RowLabel */
    table.pvtTable tbody tr th.pvtRowLabel {
	    vertical-align: top !important;
	    white-space: nowrap !important;
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowexpanded {
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowexpanded.zoom  {
        cursor: zoom-out !important;
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowcollapsed {
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowcollapsed.zoom {
        cursor: zoom-in !important;
    }

    /* RowLabelFiller */
    table.pvtTable .pvtRowLabelFiller {
    }

    /* RowSubtotal */
    table.pvtTable .pvtRowSubtotal {
    }
    table.pvtTable tr td.pvtRowSubtotal.rowcollapsed {
    }

    /* ColLabel */
    table.pvtTable thead tr th.pvtColLabel {
	    white-space: nowrap;
    }
    table.pvtTable thead tr th.pvtColLabel.colexpanded .colAttrHeaderArrowDiv {
	    cursor: zoom-out !important;
    }
    table.pvtTable thead tr th.pvtColLabel.colcollapsed .colAttrHeaderArrowDiv {
	    cursor: zoom-in !important;
    }

    /* ColLabelFiller */
    table.pvtTable .pvtColLabelFiller {
    }

    /* ColSubtotal */
    table.pvtTable .pvtColSubtotal {
    }
    table.pvtTable tr td.pvtColSubtotal {
    }

    table.pvtTable thead tr .wrapperDiv {
        display: flex;
    }

    table.pvtTable thead tr .axisHeaderArrowDiv {
        flex: 0 0 auto; 
        justify-content: left; 
        padding-right: 5px;"    
    }
    
    table.pvtTable thead tr .axisHeaderTextDiv {
        flex: 1 1 auto; 
        justify-content: center
    }
    
    table.pvtTable thead tr .colAttrHeaderArrowDiv {
        flex: 0 0 auto; 
        justify-content: left; 
        padding-right: 5px;"    
    }
    
    table.pvtTable thead tr .colAttrHeaderTextDiv {
        flex: 1 1 auto; 
        justify-content: center
    }

    /*
    *
    * IMPORTANT: Please do not remove the lines below this point
    *
    */
    table.pvtTable tr .rowhide {
        display: none;
    }

    table.pvtTable tr .colhide {
        display: none;
    }

