    body {
        font-family: Verdana;
    }

    .subtotalouterdiv {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden; 
    }

    .subtotalouterdiv .headerdiv {
        flex: 0 1 auto;
        position: relative;
        overflow: hidden;
    }

    .subtotalouterdiv .headertable {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }

    .subtotalouterdiv .bodydiv {
        flex: 1;
        overflow: hidden;
        position: relative;
        top: -1px;
    }

    .subtotalouterdiv .scrolldiv {
        position: relative;
        overflow: auto;
        height: 100%;
    }

    .subtotalouterdiv .bodytable {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
    }
    
    /* AxisLabel */
    table.pvtTable .pvtAxisLabel {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.expanded {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.expanded .axisHeaderArrowDiv {
        cursor: zoom-out !important;
    }
    table.pvtTable .pvtAxisLabel.expanded.zoom {
        cursor: zoom-out !important;
    }
    table.pvtTable .pvtAxisLabel.collapsed {
	    white-space: nowrap;
    }
    table.pvtTable .pvtAxisLabel.collapsed .axisHeaderArrowDiv {
        cursor: zoom-in !important;
    }
    table.pvtTable .pvtAxisLabel.collapsed.zoom {
        cursor: zoom-in !important;
    }

    /* RowLabel */
    table.pvtTable tbody tr th.pvtRowLabel {
	    vertical-align: top !important;
	    white-space: nowrap !important;
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowexpanded {
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowexpanded.zoom  {
        cursor: zoom-out !important;
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowcollapsed {
    }
    table.pvtTable tbody tr th.pvtRowLabel.rowcollapsed.zoom {
        cursor: zoom-in !important;
    }

    /* RowLabelFiller */
    table.pvtTable .pvtRowLabelFiller {
    }

    /* RowSubtotal */
    table.pvtTable .pvtRowSubtotal {
    }
    table.pvtTable tr td.pvtRowSubtotal.rowcollapsed {
    }

    /* ColLabel */
    table.pvtTable thead tr th.pvtColLabel {
	    white-space: nowrap;
    }
    table.pvtTable thead tr th.pvtColLabel.colexpanded .colAttrHeaderArrowDiv {
	    cursor: zoom-out !important;
    }
    table.pvtTable thead tr th.pvtColLabel.colcollapsed .colAttrHeaderArrowDiv {
	    cursor: zoom-in !important;
    }

    /* ColLabelFiller */
    table.pvtTable .pvtColLabelFiller {
    }

    /* ColSubtotal */
    table.pvtTable .pvtColSubtotal {
    }
    table.pvtTable tr td.pvtColSubtotal {
    }

    table.pvtTable thead tr .wrapperDiv {
        display: flex;
    }

    table.pvtTable thead tr .axisHeaderArrowDiv {
        flex: 0 0 auto; 
        justify-content: left; 
        padding-right: 5px;    
    }
    
    table.pvtTable thead tr .axisHeaderTextDiv {
        flex: 1 1 auto; 
        justify-content: center
    }
    
    table.pvtTable thead tr .colAttrHeaderArrowDiv {
        flex: 0 0 auto; 
        justify-content: left; 
        padding-right: 5px;    
    }
    
    table.pvtTable thead tr .colAttrHeaderTextDiv {
        flex: 1 1 auto; 
        justify-content: center
    }

    /*
    *
    * IMPORTANT: Please do not remove the lines below this point
    *
    */
    .subtotalouterdiv col.colhide {
        display: none;    
    }
    
    table.pvtTable tr .rowhide {
        display: none;
    }

    table.pvtTable tr .colhide {
        display: none;
    }

