/* modified copy com/google/gwt/user/cellview/client/DataGrid.css */

.dataGridWidget {}

.dataGridHeader {}
.dataGridHeaderCell {}
.dataGridFirstHeaderCell {}
.dataGridLastHeaderCell {}

.dataGridFooter {}
.dataGridFooterCell {}
.dataGridFirstFooterCell {}
.dataGridLastFooterCell {}

.dataGridRow {
    background: #ffffff;
}

.dataGridCell {
    font-size: 8pt;

    padding: 0;

    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.dataGridCell p {
    margin: 0;
}

.dataGridCellInnerDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dataGridFirstCell {}
.dataGridLastCell {}

.dataGridKeyboardSelectedRow {
    background: #F0F0FF;
}

.dataGridKeyboardSelectedRowCell {}

.dataGridFocusedCell {}
.dataGridFocusedCellLastInRow {}
.dataGridRightOfFocusedCell {}
.dataGridTopOfFocusedCell {}
