<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dataAdapter" class="platform.server.data.sql.PostgreDataAdapter">
        <constructor-arg><value>sample</value></constructor-arg>
        <constructor-arg><value>localhost</value></constructor-arg>
        <constructor-arg><value>postgres</value></constructor-arg>
        <constructor-arg><value>11111</value></constructor-arg>
    </bean>

    <bean id="businessLogics" class="sample.SampleBusinessLogics">
        <constructor-arg><ref bean="dataAdapter"/></constructor-arg>
        <constructor-arg type="int"><value>7652</value></constructor-arg>
    </bean>

</beans>