.listPositioner{
    z-index: 1;
    border-top: 1px dashed green;
    margin-top: 1px;
}

.userPreferencesDualList .dragdrop-selected {
    opacity: 1.0;
}

.userPreferencesDualList .draggableListBox {
}

.userPreferencesDualList .listBoxContainer {
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--component-border-color);
    border-radius: var(--table-border-radius);
    background: var(--component-background-color);
    padding: 0.125rem 0.1875rem;
    margin: 0.125rem 0.0625rem 0.0625rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.userPreferencesDualList .listBoxContainer:focus {
    border: 1px solid var(--focus-color);
}

.dualListButtonsContainer {
    margin: 0.5em 0.5em 0;
}

.dualListButtonsContainer td {
    padding: 0.2em 0.5em;
}

.dualListButtonsContainer button {
    width: 3em;
    padding: 0.25rem 0;
}

.userPreferencesDualList .dragdrop-selected ,
.userPreferencesDualList .dragdrop-movable-panel .draggableListBoxItem {
    background-color: var(--selection-color);
}

.dragdrop-selected, .dragdrop-dragging {
    filter: none;
    opacity: 1;
}

.draggableListBoxItem .dragdrop-handle {}

.userPreferencesDualList .dragdrop-movable-panel {
    opacity: 0.5;
}

.userPreferencesIntegralTextBox {
    padding: 0.125rem;
    text-align: right;
    width: 3em;
}

.userPreferencesColumnTextBox {
    padding: 0.125rem;
    flex: auto !important;
}

.userPreferencesFontLabel {
    padding-bottom: 0.0625rem;
}

.userPreferencesSaveResetButton {
    width: 13em;
    margin: 0.0625rem;
}
