/*
Использование: Добавить в Confluence: внизу sidebar (слева) есть Space tools -> Look and feel -> Stylesheet

CSS файл, предназначенный для изменения стилей элементов сгенерированного html с помощью библиотеки pygments:  
    HtmlFormatter(style=LSFStyle, linenos='table', noclasses=True, linenostart=startLine)
    
В HtmlFormatter есть опции cssstyles и prestyles, которыми можно изменять стиль, но они нам не 
подошли из-за использования режима linenos='table' (возможность выделять только исходный код без номеров строк), 
в котором формируется таблица c двумя колонками, и используются внешние стили. Например, для всей таблицы 
используется стиль 'highlighttable', a cssstyles изменяет стиль 'highlight'.

Сгенерированный html не подошел нам еще и потому что 
    1. Есть пустой <span></span> в начале кода (и это сдвигает первую строку при отображении)
    2. Во втором <td> используется стиль 'code', влияющий на шрифт и границы, поэтому приходится все прописывать явно
    3. В тегах <pre> явно прописывается line-height, который нам хотелось поменять
            
*/

.highlighttable {
    width: 100%;
    border-spacing: 0px;
    border-radius: 3px;
    border: solid 1px #ccc; 
}

.highlighttable td { 
    padding: 0; 
    border: none;
}  

.highlighttable td:first-child { 
    width: 40px;
    border-right: solid 1px #ccc; 
}

.highlighttable pre {
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    line-height: 20px !important;
}

.linenodiv {
    text-align: right;
    color: #707070; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.highlight {
    padding: 10px;
}

.highlight span:first-child {
    display: none;
}