/* modified copy com/google/gwt/user/cellview/client/DataGrid.css */

.dataGridWidget {

}

.dataGridFirstColumn {
}

.dataGridLastColumn {
}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataGridCell {
    border: 1px solid #CCCCCC;

    padding: 2px 5px;

    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
    cursor: hand;
}

.dataGridSortableHeader:hover {
    color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
    background: #ffffff;
}

.dataGridEvenRowCell {
    /*border: 2px solid #ffffff;*/
}

/* убираем чередующиеся ряды */
.dataGridOddRow {
    background: #ffffff;
}

.dataGridOddRowCell {
    /*border: 2px solid #ffffff;*/
}

.dataGridHoveredRow {
    /*background: #eee;*/
}

.dataGridHoveredRowCell {
    /*border: 2px solid #eee;*/
}

.dataGridKeyboardSelectedRow {
    background: #ffc;
}

.dataGridKeyboardSelectedRowCell {
    /*border: 1px solid #add8e6;*/
}

/* стайлим выделенный ряд, так же как ряд с клавиатурным выделением,
   чтобы спокойно совместить понятия выделенного и текущего ряда */
.dataGridSelectedRow {
    background: #ffc;
    /*background: #628cd5;*/
    /*color: white;*/
    /*height: auto;*/
    /*overflow: auto;*/
}

.dataGridSelectedRowCell {
    /*border: 2px solid #ffc;*/
    /*border: 2px solid #628cd5;*/
}

/**
* The keyboard selected cell is visible over selection.
*/
.dataGridKeyboardSelectedCell {
    border: 1px solid blue;
}
