@def fontSize 8pt;

.dataGridWidget {
    border: 1px solid lightGrey;
    margin: 2px;
}

.dataGridFirstColumn {
}

.dataGridLastColumn {
    border-right: 1px solid #CCCCCC;
}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataGridCell {
    /*работает как min-height*/
    height: 16px;
    font-size: fontSize;


    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;

    padding: 0px 4px;

    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell div {
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
    cursor: hand;
}

.dataGridSortableHeader:hover {
    color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
    background: #ffffff;
}

.dataGridEvenRowCell {
    /*border: 2px solid #ffffff;*/
}

/* убираем чередующиеся ряды */
.dataGridOddRow {
    background: #ffffff;
}

.dataGridOddRowCell {
    /*border: 2px solid #ffffff;*/
}

.dataGridHoveredRow {
    /*background: #eee;*/
}

.dataGridHoveredRowCell {
    /*border: 2px solid #eee;*/
}

.dataGridKeyboardSelectedRow {
    background: #F0F0FF;
}

.dataGridKeyboardSelectedRowCell {
    /*border: 1px solid #add8e6;*/
}

/* стайлим выделенный ряд, так же как ряд с клавиатурным выделением,
   чтобы спокойно совместить понятия выделенного и текущего ряда */
.dataGridSelectedRow {
    background: #F0F0FF;
    /*background: #628cd5;*/
    /*color: white;*/
    /*height: auto;*/
    /*overflow: auto;*/
}

.dataGridSelectedRowCell {
    /*border: 2px solid #ffc;*/
    /*border: 2px solid #628cd5;*/
}

/**
* The keyboard selected cell is visible over selection.
*/
.dataGridKeyboardSelectedCell {
    outline: 1px solid #6262FF;
    outline-offset: -1px;
}
