/* modified copy com/google/gwt/user/cellview/client/DataGrid.css */

@def selectionBorderWidth 0px;
.dataGridWidget {

}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell {
    height: 26px;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
    cursor: pointer;
    cursor: hand;
}

.dataGridSortableHeader:hover {
    color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
    background: #ffffff;
}

.dataGridEvenRowCell {
    border: selectionBorderWidth solid #ffffff;
}

.dataGridOddRow {
    background: #f3f7fb;
}

.dataGridOddRowCell {
    border: selectionBorderWidth solid #f3f7fb;
}

.dataGridHoveredRow {
    background: #eee;
}

.dataGridHoveredRowCell {
    border: selectionBorderWidth solid #eee;
}

.dataGridKeyboardSelectedRow {
    background: #ffc;
}

.dataGridKeyboardSelectedRowCell {
    border: selectionBorderWidth solid #ffc;
}

.dataGridSelectedRow {
    background: #628cd5;
    color: white;
    height: auto;
    overflow: auto;
}

.dataGridSelectedRowCell {
    border: selectionBorderWidth solid #628cd5;
}

    /**
    * The keyboard selected cell is visible over selection.
    */
.dataGridKeyboardSelectedCell {
    border: selectionBorderWidth solid #d7dde8;
}
