button {
    /*margin: 0;*/
    padding: 0.125rem 0.875rem;
    /*text-decoration: none;*/
    /*font-size: small;*/
    border-radius: var(--button-border-radius);
    background: var(--component-background-color);
    border: 1px solid var(--component-border-color); /* should correspond to the result in ActionOrPropertyValue.setBaseSize */
}

/*Fix buttons paddings and margins in FF*/
button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    color: var(--text-color);
    white-space: nowrap;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

button:active { /* should come after ':hover' and ':focus' */
    background-color: var(--button-active-background-color);
}

button[disabled] {
    cursor: default;
    color: var(--disabled-text-color);
}
button[disabled]:hover {
    border: 1px outset var(--button-disabled-hover-border-color);
    background: var(--background-color);
}

.btn.active {
    background-color: var(--selection-color);
    --bs-btn-active-bg: var(--selection-color);
    /*border: 1px solid var(--component-border-color);*/
}

.btn-image {
}

.btn-image img {
    margin-bottom: 0.125em; /*center image */
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.imageButtonWithoutCaption {
    padding: 0.0625rem;
}