input[type=checkbox] {
    vertical-align: middle;
    position: relative;
}

input[type=checkbox]:focus {
    outline: 1px solid var(--focus-color);
}

.form-check .form-check-input {
    float: left;
}

.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
    color: var(--disabled-text-color);
}
