.dragdrop-selected, .dragdrop-dragging {
    filter: none;
    opacity: 1;
}

.modal.show {
    display: block;
    width: fit-content;
    height: fit-content;
}

.modal-dialog.modal-fit-content {
    max-width: none;
}

.modal-content {
    background-color: var(--background-color);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.3;
}

.modal-header {
    padding: 0.5em;
    border-bottom: 1px solid var(--dialog-outer-border-color);
}

.modal-title {
    margin: 0;
}

.modal-content {
    border: 1px solid var(--dialog-outer-border-color);
}

.modal-body {
}