.modal-form {
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal {
    width: 100%;
    height: 100%;
}

.modal.show {
    display: block;
}

.modal-dialog {
    margin: 1.75rem auto 1.75rem auto;
    width: auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.modal-dialog.modal-resizable {
    margin: 0;
}

.modal-dialog.modal-fit-content {
    max-width: none;
    width: fit-content;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1.75rem * 2);
}

.modal-content {
    background-color: var(--background-color);
    width: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.3;
}

.modal-header {
    padding: 0.5em;
    border-bottom: 1px solid var(--dialog-outer-border-color);
}

.modal-title {
    margin: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--dialog-outer-border-color);
    border-radius: var(--dialog-border-radius);

    overflow: hidden;
}

.modal-body {
    display: flex;
    flex: 1 1 auto;
    padding: 0.5em;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.25em;
    border-top: 1px solid var(--dialog-outer-border-color);
}

.modal-footer > * {
    margin: 0.125rem;
}