.gwt-TabBar-vert {
    padding-left: var(--border-padding);
}
.gwt-TabBar-vert .gwt-TabBarFirst {
    height: 3px;  /* first tab distance from the top */
    width: 0;  /* to make it invisible when all tabs are wrapped */
}
.gwt-TabBar-vert .gwt-TabBarRest {
    width: 0;  /* to make it invisible when all tabs are wrapped */
}
.gwt-TabBar-horz {
    padding-top: var(--border-padding);
}
.gwt-TabBar .gwt-TabBarFirst {
    width: 3px;  /* first tab distance from the left */
    height: 0;  /* to make it invisible when all tabs are wrapped */
}
.gwt-TabBar .gwt-TabBarRest {
    height: 0;  /* to make it invisible when all tabs are wrapped */
}
.gwt-TabBar .gwt-TabBarItem {
    padding: 0 10px;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    border-top: 1px solid var(--panel-border-color);
    border-left: 1px solid var(--panel-border-color);
}
.gwt-TabBar-vert .gwt-TabBarItem {
    border-bottom: 1px solid var(--panel-border-color);
    margin-top: 3px;
    border-radius: var(--tab-border-radius-vert);
}
.gwt-TabBar-horz .gwt-TabBarItem {
    border-right: 1px solid var(--panel-border-color);
    margin-left: 3px;
    border-radius: var(--tab-border-radius-horz);
}
.gwt-TabBar .gwt-TabBarItem-selected {
    cursor: default;
    background: var(--selection-color);
}
.gwt-TabBar .gwt-TabBarItem-disabled {
    cursor: default;
    color: #999999;
}

.gwt-TabBar .gwt-TabBarItem:hover {
    border-top: 1px solid var(--component-hover-border-color);
    border-left: 1px solid var(--component-hover-border-color);
    background: var(--component-hover-background-color);
}
.gwt-TabBar-vert .gwt-TabBarItem:hover {
    border-bottom: 1px solid var(--component-hover-border-color);
}
.gwt-TabBar-horz .gwt-TabBarItem:hover {
    border-right: 1px solid var(--component-hover-border-color);
}

.gwt-TabBar .gwt-TabBarItem:focus {
    border-top: 1px solid var(--focus-color);
    border-left: 1px solid var(--focus-color);
}
.gwt-TabBar-vert .gwt-TabBarItem:focus {
    border-bottom: 1px solid var(--focus-color);
}
.gwt-TabBar-horz .gwt-TabBarItem:focus {
    border-right: 1px solid var(--focus-color);
}

.gwt-TabBar .gwt-TabBarItem-selected:hover {
    background: var(--selection-color);
}

.gwt-TabPanel {
    /*margin: 0 1px 1px;*/
}
.gwt-TabPanelBottom {
    padding-top: var(--border-padding);
    border-top: 1px solid var(--panel-border-color);
    /*    border-radius: var(--panel-border-radius);*/
}

.formsTabBar .gwt-TabBarItem {
    padding-right: 5px;
}

.gwt-TabLayoutPanel {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    top: 0;
    display: flex;
    /*width: 100% !important;*/
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: var(--panel-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--panel-border-radius);
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: hidden;
    border-top: 1px solid transparent;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin: 0 2px;
    padding: 0 3px 1px 5px;
    cursor: pointer;
    cursor: hand;
    font-weight: normal;
    text-align: center;
    border-top: 1px solid var(--panel-border-color);
    border-left: 1px solid var(--panel-border-color);
    border-right: 1px solid var(--panel-border-color);
    /*border-radius: var(--tab-border-radius);*/
    min-width: 19px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
    height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    background: var(--selection-color);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {
    border-top: 1px solid var(--component-hover-border-color);
    border-left: 1px solid var(--component-hover-border-color);
    border-right: 1px solid var(--component-hover-border-color);
    background: var(--component-hover-background-color);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {
    background: var(--selection-color);
}

.tabLayoutPanelTabWidget {
    height: 100%;
}

.tabLayoutPanelTabTitleWrapper {
    flex-shrink: 1 !important;
}

.closeTabButton {
    padding: 0;
    margin-left: 2px;
    border: 0;
    border-radius: 3px;
    background: transparent;
    font-size: 8pt;
    font-family: tahoma, serif;
    font-weight: bold;
    cursor: pointer;
}

.closeTabButton:hover {
    border: 1px solid var(--component-hover-border-color);
    background: var(--component-hover-background-color);
}

.closeTabButton:active { /* should come after ':hover' */
    background: var(--component-active-background-color);
}

.closeTabButton[disabled] {
    cursor: default;
    color: var(--close-tab-button-disabled-color);
}