<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <description>Сервер, на котором работает сервер приложения.</description>
        <param-name>serverHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description>Порт, на котором работает сервер приложения.</description>
        <param-name>serverPort</param-name>
        <param-value>7652</param-value>
    </context-param>

    <servlet>
        <servlet-name>ProjectsService</servlet-name>
        <servlet-class>skolkovo.gwt.expert.server.ExpertServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpertProfileService</servlet-name>
        <servlet-class>skolkovo.gwt.expertprofile.server.ExpertProfileServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>skolkovo.gwt.login.server.LoginServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProjectsService</servlet-name>
        <url-pattern>/skolkovo.gwt.expert.Expert/ProjectsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpertProfileService</servlet-name>
        <url-pattern>/skolkovo.gwt.expertprofile.ExpertProfile/ExpertProfileService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/skolkovo.gwt.login.Login/LoginService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RemoteFormService</servlet-name>
        <servlet-class>platform.gwt.form.server.RemoteFormServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoteFormService</servlet-name>
        <url-pattern>/skolkovo.gwt.form.Form/dispatch</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- Описание ограниченных урлов  -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Private area</web-resource-name>
            <url-pattern>/expertProfile.html</url-pattern>
            <url-pattern>/skolkovo.gwt.expertprofile.ExpertProfile/*</url-pattern>
        </web-resource-collection>
        <!--<auth-constraint>-->
            <!--<role-name>expert</role-name>-->
        <!--</auth-constraint>-->
    </security-constraint>

    <!-- Определение вида аутентификации  -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/loginFailed.txt</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>expert</role-name>
    </security-role>
</web-app>
