<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>form.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <description>Сервер, на котором работает сервер приложения.</description>
        <param-name>serverHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description>Порт, на котором работает сервер приложения.</description>
        <param-name>serverPort</param-name>
        <param-value>7652</param-value>
    </context-param>

    <listener>
        <listener-class>platform.gwt.form.server.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RemoteGwtService</servlet-name>
        <servlet-class>platform.gwt.form.server.RemoteServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoteGwtService</servlet-name>
        <url-pattern>/platform.gwt.form.Form/dispatch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readFileHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readFileHandler</servlet-name>
        <url-pattern>/readFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>propertyImageHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>propertyImageHandler</servlet-name>
        <url-pattern>/propertyImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileUploadHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploadHandler</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileDownloadHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileDownloadHandler</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>captchaService</servlet-name>
        <servlet-class>platform.gwt.base.server.captcha.ImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captchaService</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>

    <!-- Spring configuration -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jExposeWebAppRoot</param-name>
        <param-value>false</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/applicationContext-security.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springRequestContextFilter</filter-name>
        <filter-class>platform.gwt.base.server.spring.RequestContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springRequestContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>imagesCache</filter-name>
        <filter-class>com.samaxes.filter.CacheFilter</filter-class>
        <init-param>
            <param-name>static</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>expirationTime</param-name>
            <param-value>2592000</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>imagesCache</filter-name>
        <url-pattern>/images/*</url-pattern>
    </filter-mapping>

</web-app>
