<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataAdapter" class="platform.server.data.sql.PostgreDataAdapter">
		<constructor-arg><value>ved</value></constructor-arg>
		<constructor-arg><value>localhost</value></constructor-arg>
		<constructor-arg><value>postgres</value></constructor-arg>
		<constructor-arg><value>11111</value></constructor-arg>
	</bean>

	<bean id="priceImport" class="tmc.integration.imp.PriceImportTask">
		<constructor-arg><ref bean="businessLogics"/></constructor-arg>
		<constructor-arg><list><value>imp</value></list></constructor-arg>
		<constructor-arg><list><value type="int">9</value></list></constructor-arg>
		<constructor-arg><list><value type="int">10</value></list></constructor-arg>
        <constructor-arg><list><value type="int">12</value></list></constructor-arg>
	</bean>

    <bean id="saleExport" class="tmc.integration.exp.SaleExportTask">
        <constructor-arg><ref bean="businessLogics"/></constructor-arg>
        <constructor-arg><value>exp</value></constructor-arg>
    </bean>

    <bean id="scheduler" class="platform.server.logics.scheduler.Scheduler">
        <constructor-arg><value type="int">5000</value></constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="priceImport"/>
                <ref bean="saleExport"/>
            </list>
        </constructor-arg>
    </bean>

	<bean id="businessLogics" class="tmc.VEDBusinessLogics">
		<constructor-arg><ref bean="dataAdapter"/></constructor-arg>
		<constructor-arg type="int"><value>7652</value></constructor-arg>
		<property name="scheduler"><ref bean="scheduler"/></property>
		<property name="formSets"><map>
    	    <entry><key><value>cashregister</value></key><value>1310,1325,1345,1365</value></entry>
		</map></property>
	</bean>

    <!--bean id="dataAdapter" class="platform.server.data.sql.PostgreDataAdapter">
        <constructor-arg><value>bdg</value></constructor-arg>
        <constructor-arg><value>localhost</value></constructor-arg>
        <constructor-arg><value>postgres</value></constructor-arg>
        <constructor-arg><value>11111</value></constructor-arg>
    </bean>

    <bean id="businessLogics" class="budget.BudgetBusinessLogics">
        <constructor-arg><ref bean="dataAdapter"/></constructor-arg>
        <constructor-arg type="int"><value>7652</value></constructor-arg>
    </bean-->

</beans>