
.suggestPopupButton {
    margin: 0 var(--border-comp-horz-padding);
}

.dropdown-menu-button-panel {
    width: 100%;
}

.dropdown-menu-tip {
    width: 100%;
    word-wrap:break-word;
    /*border-top:1px solid var(--component-border-color);*/
    /*color: var(--disabled-text-color);*/
}