.modal-form {
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal.show {
    display: block;
}

.modal-dialog.modal-resizable {
    margin: 0;
}

.modal-dialog.modal-fit-content {
    max-width: none;
    width: fit-content;
}

.modal-dialog-centered {
    min-height: calc(100% - 1.75rem * 2);
}

.modal-backdrop.show {
    opacity: 0.3;
}

.modal-content {
    border: 1px solid var(--dialog-outer-border-color);
    background-color: var(--background-color);
    overflow: hidden;
}

.modal-title {
    margin: 0;
}

.modal-body {
    display: flex;
}

.modal-footer {
    padding: 0.25em;
}

.modal-footer > * {
    margin: 0.125rem;
}