.gwt-Button {
    margin: 2px;
    height: 32px;
}

.gwt-TextBox {
    margin: 2px;
    height: 20px;
}

.messageBox-button {
    width: 90px;
}

.messageBox-message {
    height: auto;
    width: 200px;
    margin-bottom: 10px;
}

.labelBasedPanelRendererValueLabel {
    border: 1px solid #0055aa;
    margin: 2px;
}

.dataPanelRendererGridPanel {
    border: 1px solid #0055aa;
    margin: 2px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    padding: 1px;
    overflow: auto !important;
}

.modalFormContent {
    overflow: auto !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    padding: 0px 3px 0px 5px;
}

.gwt-DecoratorPanel .middleCenter {
    height: 100%;
    width: 100%;
}

.closeTabButton {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 1px 0px 1px 2px;
    border: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
}

.closeTabButton:hover {
    background: #CCCCCC;
}

.captionPanel {
    padding-top: 0.55em;
}

.captionPanelContainer {
    border: 2px groove threedface;
    position: relative;
    padding: 0.8em 0.1em 0.3em 0.1em;
    border-radius: 5px;
}

.captionPanelLegend {
    left: 0.5em;
    top: -0.6em;
    position: absolute;
    padding: 0 0.25em 0 0.25em;
    background-color: white;
}

/*.formController {*/
    /*border: 2px solid black;*/
/*}*/

/*.formLayout {*/
    /*border: 2px solid red;*/
/*}*/

.gridTable {
    border: 1px solid lightGrey;
}

.gridResizePanel{
    min-height: 130px !important;
}

/*.gridToolbar {*/
    /*border: 2px solid green;*/
/*}*/

/*.panelToolbar {*/
    /*border: 2px solid cyan;*/
/*}*/

/*.showType {*/
    /*border: 2px solid blue;*/
/*}*/
