:root {
    --focus-color: #0790c3; /* after changing, synchronize the appropriate value in StyleDefaults.getFocusColor() */
    --selection-color: #2C4751; /* also hardcoded in StyleDefaults.java */
    --scrollbar-color: #585C5E;
    --text-color: #bbbbbb; /* also hardcoded in StyleDefaults.java */
    --disabled-text-color: #6b6b6b;
    --background-color: #3C3F41; /* also hardcoded in StyleDefaults.java */
    --component-background-color: #45494A; /* also hardcoded in StyleDefaults.java */
    --split-border-color: var(--component-border-color);
    --dialog-border-color: var(--scrollbar-color);
    --component-border-color: #646464;
    --panel-border-color: #515151;
    --grid-separator-border-color: #5E6364; /* also hardcoded in StyleDefaults.java */
    --dialog-outer-border-color: #696969;
    --mobile-navigator-arrow-color: var(--dialog-outer-border-color);
    --progress-background-color: var(--scrollbar-color);
    
    --caption-panel-header-color: #7d7d7d;
    --caption-panel-header-expand-icon-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABHklEQVQ4jd2RsUrEQBCG/80ahKAHNneFxYE+gg9wLyFBH8DzDUJIMstK4IiNEe293lJ8AUFrK6t7ArGwCTFkScbGQFgvXK1/Nf8M/8fMLvDnJdY1icgHcPIz3wbwLKW81lqXGwFEdAugLIpC53n+BUAopXxmnhtjjrMs+xxch4h8Irrs+bxXz5IkubMzjuVPpZQXPX/YFWmaPgkhRlrrnX5gywJIrXWplMqY+QDAERHdA4Ax5hzAqmmaKYC3oRMe0XsXInqw5ssoiiaDJzDzi1LKXweP43gfwHixWLwPAqqqumHmMyKaAYCUct6FHcdZAkhs8K9vDMNwz3XdKwAjIcSqbduxEGICIEnT9HUjoFMQBLue503ruv6w1/5n+gaPdmjw1/JHuAAAAABJRU5ErkJggg==');
    --caption-panel-header-collapse-icon-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABCklEQVQ4jd2RQUrEQBBFf6UNQtABN6PgYsCLzCUk6AHUG4RAUk2bhhA3RnSvZxF07crVnEAU3IQYpknazQhDm2bW+nf1f9WjigL+vGjMZOYYwMkq3wbwJIS4UUq1GwHMfAegbZpG1XX9BYCklLG19twYc1xV1ad3HWaOmfnKk83zPL93/cCpT4UQl2MArfUjEU2UUjvr/pbTJ5RSrZSystYerQfGmAsAi77vZwBefYAAABVFkXrOOOj7/sN7grX2WUoZjw1nWXYIYFqW5ZsX0HXdrbX2jJnn7nAQBA8Achf8641pmu6FYXgNYEJEi2EYpkS0DyDXWr9sBPwoSZLdKIpmy+Xy3V37n+kbFLxjiwgu2/oAAAAASUVORK5CYII=');
    --null-value-string-color: #757575;
    --required-value-string-color: #c54d4d;
    --not-null-corner-triangle-color: #c30000;
    --not-null-line-color: #9a0000;
    --close-tab-button-x-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bbbbbb'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"); /* --text-color value inside */
    --button-disabled-hover-border-color: #6b6b6b;
    --button-hover-background-color: #53585A;
    --button-active-background-color: #5B5F62;
    --component-hover-border-color: #467F93;
    --component-hover-background-color: #46494B;
    --component-active-background-color: #505355;
    --leaflet-control-transparent-background: rgba(43, 43, 43, 0.85);

    --date-picker-next-prev-month-day-background-color: #3e3e3e;
    --date-picker-next-prev-month-day-color: #8e8e8e;
    --date-picker-selection-background-color: #00527a;
    --date-picker-selection-color: var(--text-color);

    --option-selected-hover-color: #19282e;

    --link-color: #000000;
}
