:root {

    --focus-color: #0489BA; /* after changing, synchronize the appropriate value in StyleDefaults.getFocusColor() */
    --selection-color: #D3E5E8;
    --selection-color-rgba: rgba(167, 203, 209, 0.5);
    --scrollbar-color: #DCDCDC;
    --text-color: #000000; /* also hardcoded in StyleDefaults.java */
    --disabled-text-color: #888;
    --background-color: #F2F2F2; /* also hardcoded in StyleDefaults.java */
    --component-background-color: #FFFFFF; /* also hardcoded in StyleDefaults.java */
    --split-border-color: var(--component-border-color);
    --dialog-border-color: var(--scrollbar-color);
    --component-border-color: #c4c4c4;
    --panel-border-color: #D1D1D1;
    --grid-separator-border-color: #E6E6E6; /* also hardcoded in StyleDefaults.java */
    --dialog-outer-border-color: #bbb;
    --mobile-navigator-arrow-color: var(--dialog-outer-border-color);
    --progress-background-color: var(--scrollbar-color);
    
    --caption-panel-header-color: #929292; 
    --caption-panel-header-expand-icon-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABL0lEQVQ4jd2SMUsDQRCF3+we3BUqpImCRUB/Qn6AP8DKJih2gm6VTay0SGNnCk8zJtdaa6m/QNDayirYK1oHkj14NgmEM4e1vmp4zHz7Zljgz0sWmb1er2GM2SUpAGIAT3EcXznnRsVeUzRU9RpAPYSw773faTab2yLyNh6PH7IsqxT7o+LLJEetVutkCrsUkWMAt6r6HkK4AHBQmkBE9pIkOZuzNmeF9/4RwMpgMFgqTQDAOudGqnoOYANAXVXvACCKIhdCGJKsAXgtAxiSIiKn0xXuvfeNufus5Xn+VboCyed+v9/AAqVpui4i1Xa7/VEKmEwmSvJQVbcAwFp7NBu21t6Q7BTBP/5BlmWVPM9TACsAhiSrxphVkh3v/cuvgJm63e5ykiQ1kp/F2P9M3xtqe5Ou6x9NAAAAAElFTkSuQmCC');
    --caption-panel-header-collapse-icon-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABGUlEQVQ4jd2SMUsDQRCF3+wF7goNpImCRcC/4A/wB1jZBMVOkK1uc10s0tiZwsOMybXW1v4CQWsrq2CvaB1IduFZKbjeYa2vHN68+R4M8OcldcPJZNI3xhyQFAApgPs0TS+ttYvYa+KBql4B2PHeHznn9vM83xOR5+VyeVtVVSf2t+LLJBeDwWD4hShCADeq+uK9vwBw3EggIodZlp3V1XLO3QFoz2aztUYCAIm1dqGq5wC2vxlbLeu9n5PsAXhqCjAkRURO6yhUdTOE8N5YgeTDdDrt1y2XZbklIt2iKF4bA1arlZI8UdXdeDlJkmuSozj4xx9UVdUJIZQA2gDmJLvGmA2SI+fc468BnxqPx+tZlvVIvsXY/0wfWWtyr59pd8EAAAAASUVORK5CYII=");
    --null-value-string-color: #A7A7A7;
    --required-value-string-color: #C70D00;
    --not-null-corner-triangle-color: #ff0000;
    --not-null-line-color: #ffb8b8;
    --close-tab-button-x-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"); /* --text-color value inside */
    --button-disabled-hover-border-color: #bbb;
    --button-hover-background-color: #F7F7F7;
    --button-active-background-color: #E6E6E6;
    --component-hover-border-color: #84C0D6;
    --component-hover-background-color: #E6E6E6;
    --component-active-background-color: #DEDEDE;
    --leaflet-control-transparent-background: rgba(255, 255, 255, 0.7);
    
    --date-picker-next-prev-month-day-background-color: #f7f7f7;
    --date-picker-next-prev-month-day-color: #999;
    --date-picker-selection-background-color: #08c;
    --date-picker-selection-color: #fff;

    --option-selected-hover-color: #99c3ca;

    --link-color: #0000FF;
}
