:root {

    --focus-color: #0489BA; /* after changing, synchronize the appropriate value in StyleDefaults.getFocusColor() */
    --selection-color: #D3E5E8; /* also hardcoded in StyleDefaults.java */
    --scrollbar-color: #DCDCDC;
    --text-color: #000000; /* also hardcoded in StyleDefaults.java */
    --disabled-text-color: #888;
    --background-color: #F2F2F2; /* also hardcoded in StyleDefaults.java */
    --component-background-color: #FFFFFF; /* also hardcoded in StyleDefaults.java */
    --split-border-color: var(--component-border-color);
    --dialog-border-color: var(--scrollbar-color);
    --component-border-color: #c4c4c4;
    --panel-border-color: #D1D1D1;
    --grid-separator-border-color: #E6E6E6; /* also hardcoded in StyleDefaults.java */
    --dialog-outer-border-color: #bbb;
    --mobile-navigator-arrow-color: var(--dialog-outer-border-color);
    --progress-background-color: var(--scrollbar-color);
    
    --caption-panel-header-color: #929292; 
    --caption-panel-header-arrow-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D1D1D1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); /* --panel-border-color value inside */
    --null-value-string-color: #A7A7A7;
    --required-value-string-color: #C70D00;
    --not-null-corner-triangle-color: #ff0000;
    --not-null-line-color: #ffb8b8;
    --close-tab-button-x-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"); /* --text-color value inside */
    --button-disabled-hover-border-color: #bbb;
    --button-hover-background-color: #F7F7F7;
    --button-active-background-color: #E6E6E6;
    --component-hover-border-color: #84C0D6;
    --component-hover-background-color: #E6E6E6;
    --component-active-background-color: #DEDEDE;
    --leaflet-control-transparent-background: rgba(255, 255, 255, 0.7);
    
    --date-picker-next-prev-month-day-background-color: #f7f7f7;
    --date-picker-next-prev-month-day-color: #999;
    --date-picker-selection-background-color: #08c;
    --date-picker-selection-color: #fff;

    --option-selected-hover-color: #99c3ca;

    --link-color: #0000FF;
}
