<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:config="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <config:annotation-config />

    <!-- API security-->
    <!-- API doesn't need to redirect to login.jsp and the real authentication process is on app server-->
    <!-- unlike ant matcher, regex respects ? so we need this odd regex-->
    <!-- we're trying to avoid creating sessions (it's important for REST requests, otherwise session will be created every time with authenticated request) -->
    <http request-matcher="regex" pattern="^/(((exec|eval)($|\?.*|/.*))|(form($|\?.*)))" create-session="never">
        <http-basic/>
        <csrf disabled="true"/>

        <custom-filter before="FORM_LOGIN_FILTER" ref="tokenFilter"/>
    </http>
    <!-- for login.css, logo, favicon, etc. -->
    <http pattern="/static/noauth/**" security="none"/>

    <!-- we need to download logo and icon -->
    <http pattern="/downloadFile/static" security="none"/>

    <!-- for favicon.ico -->
    <http pattern="/favicon.ico" security="none"/>

    <http pattern="/main/*/**" auto-config="false" disable-url-rewriting="true" entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>

    <http pattern="/static/**" auto-config="false" disable-url-rewriting="true" entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>
    <http pattern="/forgot-password" security="none"/>
    <http pattern="/change-password" security="none"/>

    <!--for backward compatibility-->
    <http pattern="/client.jnlp" security="none"/>
    <!--for jar -->
    <http pattern="/lsfusion-client*" security="none"/>
    <!-- UI security -->
    <http entry-point-ref="entryPoint">
        <intercept-url pattern="/registration" access="permitAll()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <oauth2-login login-page="/login"
                      authentication-success-handler-ref="successLoginHandler"
                      authentication-failure-handler-ref="failureLoginHandler"
                      authorized-client-service-ref="auth2AuthorizedClientService"
                      client-registration-repository-ref="lsfClientRegistrationRepository"/>
        <form-login login-page="/login" login-processing-url="/login_check" authentication-success-handler-ref="successLoginHandler" authentication-failure-handler-ref="failureLoginHandler"/>
        <!-- invalidate-session="false" no invalidating session to give user opportunity to relogin, when another tab is opened, but it's not that secure because user can login with another access, and the tab with different access will be available -->
        <!-- UPD: left invalidate-session="false" to be able to pass attributes between sessions (SPRING_SECURITY_LAST_EXCEPTION). 
         We invalidate session manually in LSFSimpleUrlLogoutSuccessHandler instead.-->
        <logout logout-url="/logout" success-handler-ref="successLogoutHandler" invalidate-session="false"/>

        <csrf disabled="true"/>

        <custom-filter ref="characterEncodingFilter" before="OAUTH2_AUTHORIZATION_REQUEST_FILTER"/>
        <custom-filter after="ANONYMOUS_FILTER" ref="anonymousFilter"/>

        <custom-filter position="PRE_AUTH_FILTER" ref="urlAuthenticationFilter"/>
    </http>

    <!-- Security beans -->

    <!--for for programmatic creation and inject custom clientRegistrationRepository because he has a dynamic number of registrations-->
    <b:bean id="lsfClientRegistrationRepository" class="lsfusion.http.authentication.LSFClientRegistrationRepository"/>
    <b:bean id="auth2AuthorizedClientService" class="org.springframework.security.oauth2.client.InMemoryOAuth2AuthorizedClientService">
        <b:constructor-arg ref="lsfClientRegistrationRepository"/>
    </b:bean>

    <b:bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <b:property name="encoding" value="UTF-8"/>
        <b:property name="forceEncoding" value="true"/>
    </b:bean>

    <!-- read app token from authentication:bearer -->
    <b:bean id="tokenFilter" class="lsfusion.http.authentication.LSFAuthTokenFilter"/>
    <!-- authenticate user when anonymousUI is enabled, and no auth provided -->
    <b:bean id="anonymousFilter" class="lsfusion.http.authentication.LSFAuthAnonymousFilter"/>

    <b:bean id="entryPoint" class="lsfusion.http.authentication.LSFLoginUrlAuthenticationEntryPoint">
        <b:constructor-arg value="/login"/>
        <b:property name="useForward" value="true"/>
    </b:bean>

    <b:bean id="successLoginHandler" class="lsfusion.http.authentication.LSFAuthenticationSuccessHandler"/>
    <b:bean id="failureLoginHandler" class="lsfusion.http.authentication.LSFAuthenticationFailureHandler"/>

    <b:bean id="successLogoutHandler" class="lsfusion.http.authentication.LSFSimpleUrlLogoutSuccessHandler" >
    </b:bean>

    <b:bean id="restAuthenticationEntryPoint" class="lsfusion.http.authentication.RestAuthenticationEntryPoint" >
    </b:bean>

    <!--Convert OAuth2 authentication token to LSFAuthenticationToken-->
    <b:bean id="oauth2ToLSFTokenFilter" class="lsfusion.http.authentication.OAuth2ToLSFTokenFilter"/>

    <!--Authenticate by url get-params-->
    <b:bean id="urlAuthenticationFilter" class="lsfusion.http.authentication.LSFUrlAuthenticationFilter"/>

    <!-- Authentication configuration -->
    
    <authentication-manager alias="authenticationManager"> <!-- we need alias to refer it from auth token filter -->
        <authentication-provider ref="authenticationProvider"/>
    </authentication-manager>

    <b:bean id="authenticationProvider" class="lsfusion.http.authentication.LSFRemoteAuthenticationProvider"/>

</b:beans>