<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>form.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <description>Сервер, на котором работает реестр приложений.</description>
        <param-name>registryHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description>Порт, на котором работает реестр приложений.</description>
        <param-name>registryPort</param-name>
        <param-value>7652</param-value>
    </context-param>
    <context-param>
        <param-name>exportUserLogin</param-name>
        <param-value>exportUser</param-value>
    </context-param>
    <context-param>
        <param-name>exportUserPassword</param-name>
        <param-value>exportPass</param-value>
    </context-param>

    <listener>
        <listener-class>lsfusion.gwt.form.server.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>formDispatch</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>formDispatch</servlet-name>
        <url-pattern>/form/dispatch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jnlpHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jnlpHandler</servlet-name>
        <url-pattern>/client.jnlp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readFileHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readFileHandler</servlet-name>
        <url-pattern>/readFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readFormHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readFormHandler</servlet-name>
        <url-pattern>/readForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>propertyImageHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>propertyImageHandler</servlet-name>
        <url-pattern>/propertyImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileUploadHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploadHandler</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileDownloadHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileDownloadHandler</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>captchaHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captchaHandler</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>

    <!-- Init RMI Listener -->
    <listener>
        <listener-class>lsfusion.gwt.base.server.spring.InitRMIContextListener</listener-class>
    </listener>

    <!-- UrlRewrite configuration -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>

        <!-- you can change status path (defaults to /rewrite-status), must start with / -->
        <init-param>
            <param-name>statusPath</param-name>
            <param-value>/rewrite-status</param-value>
        </init-param>

        <!-- you can disable status page if desired can be: true, false (default true) -->
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <!--<dispatcher>FORWARD</dispatcher>-->
    </filter-mapping>

    <!-- Spring configuration -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jExposeWebAppRoot</param-name>
        <param-value>false</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/applicationContext-security.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springRequestContextFilter</filter-name>
        <filter-class>lsfusion.gwt.base.server.spring.RequestContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springRequestContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
