.select2-container {
    background: var(--component-background-color);
}

.select2-container--default .select2-selection--multiple {
    background: var(--component-background-color);
    border: 1px solid var(--component-border-color);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--component-border-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--component-background-color);
    color: var(--text-color);
    border: 1px solid var(--component-border-color);
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: var(--text-color);
    border-right: 1px solid var(--component-border-color);
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: var(--selection-color);
    color: var(--text-color);
    border-radius: 0;
}

.select2-dropdown {
    background: var(--component-background-color);
    border: 1px solid var(--component-border-color);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--selection-color);
    color: var(--text-color);
    border: 1px solid var(--component-border-color);
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--selection-color);
}