
.propertyContainerPanel {
}

.panel-not-empty-label {
    margin-left: var(--border-label-horz-padding);
    margin-right: var(--border-label-horz-padding);
}

.panel-label {
    white-space: nowrap;

    margin-top: var(--border-label-vert-padding);
    margin-bottom: var(--border-label-vert-padding);
}

.panelRendererValue {
    margin: var(--border-comp-vert-padding) var(--border-comp-horz-padding);
}

.propertyPanelRendererValue {
}

.panelRendererValueEdited {
}
