
.property-container-panel {
}

:not(.panel-custom) > .panel-property-label.wrap-text-not-empty {
    margin-left: var(--border-label-horz-padding);
    margin-right: var(--border-label-horz-padding);
}

:not(.panel-custom) > .panel-property-label {
    margin-top: var(--border-label-vert-padding);
    margin-bottom: var(--border-label-vert-padding);
}

/*:not(.panel-custom) >  .panel-renderer-value,*/
    .panel-custom, .panel-custom.form-check {
    margin: var(--border-comp-vert-padding) var(--border-comp-horz-padding);
}

.panel-renderer-value-edited {
}

.input-color {
    opacity: 0;
}
