.dropdown-menu {
    background: var(--component-background-color);
    border: 1px solid var(--component-border-color);

    z-index: 2000;
}

.dropdown-item-selected {
    background: var(--selection-color);
}

.dropdown-menu-bottom-panel {
    background: var(--background-color);
}

.dropdown-menu .suggestPopupButton {
    margin: 0.125rem;
}
.dropdown-menu-tip {
    width: 100%;
    border-top:1px solid var(--component-border-color);
    color: var(--disabled-text-color);
    word-wrap:break-word;
}