<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:config="http://www.springframework.org/schema/context"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                                 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
                                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                                 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <config:annotation-config />

    <!-- Security configuration -->
    <http auto-config="true" use-expressions="true" entry-point-ref="entryPoint">
        <intercept-url pattern="/lsfusion.jsp" access="isAuthenticated()"/>
        <intercept-url pattern="/lsfusion/*" access="isAuthenticated()"/>

        <form-login login-processing-url="/login_check" authentication-success-handler-ref="successLoginHandler" authentication-failure-url="/login.jsp?error=1"/>
        <access-denied-handler ref="accessDeniedHandler" />
        <logout logout-url="/logout" success-handler-ref="successLogoutHandler"/>

        <anonymous enabled="false" />

        <custom-filter ref="expiredSessionFilter" before="SESSION_MANAGEMENT_FILTER" />
        <custom-filter ref="characterEncodingFilter" before="FORM_LOGIN_FILTER"/>
        <!--<custom-filter ref="propertyReadAccessFilter" before="FILTER_SECURITY_INTERCEPTOR"/>-->
    </http>
    
    <b:bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <b:property name="encoding" value="UTF-8"/>
        <b:property name="forceEncoding" value="true"/>
    </b:bean>

    <!-- Custom security filters -->
    <b:bean id="expiredSessionFilter" class="lsfusion.http.ExpiredSessionFilter">
        <!-- фильтруем запросы к gwt-сервисам -->
        <b:property name="urlPattern" value="/(?!login\.).*/dispatch.*"/>
    </b:bean>

    <!-- Form login configuration -->
    <b:bean id="entryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <b:property name="useForward" value="true"/>
        <b:property name="loginFormUrl" value="/login.jsp"/>
    </b:bean>

    <b:bean id="successLoginHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler" >
        <b:property name="targetUrlParameter" value="targetUrl" />
        <b:property name="defaultTargetUrl" value="/lsfusion.jsp" />
        <b:property name="alwaysUseDefaultTargetUrl" value="true" />
    </b:bean>

    <b:bean id="accessDeniedHandler" class="lsfusion.http.AccessDeniedHandlerImpl" >
        <b:property name="errorPage" value="/restricted.jsp" />
    </b:bean>

    <b:bean id="successLogoutHandler" class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler" >
        <b:property name="targetUrlParameter" value="targetUrl" />
        <b:property name="defaultTargetUrl" value="/lsfusion.jsp" />
        <b:property name="alwaysUseDefaultTargetUrl" value="true" />
    </b:bean>

    <!-- Authentication configuration -->
    <authentication-manager>
        <authentication-provider ref="authenticationProvider"/>
    </authentication-manager>

    <b:bean id="authenticationProvider" class="lsfusion.gwt.server.base.spring.LSFRemoteAuthenticationProvider">
        <b:property name="remoteAuthenticationManager">
            <b:bean class="lsfusion.http.LSFRemoteAuthenticationManager"/>
        </b:property>
    </b:bean>

    <!-- Custom beans -->

    <!-- Custom request beans-->
    <b:bean id="logicsHandlerProvider" class="lsfusion.gwt.server.logics.provider.LogicsHandlerProviderImpl" />

    <!-- GWT beans -->
    <b:bean id="logicsAndNavigatorProvider" scope="session" class="lsfusion.gwt.server.navigator.provider.LogicsAndNavigatorProviderImpl">
        <aop:scoped-proxy proxy-target-class="false" />
    </b:bean>

    <b:bean id="formProvider" scope="session" class="lsfusion.gwt.server.form.provider.FormProviderImpl">
        <aop:scoped-proxy proxy-target-class="false" />
    </b:bean>

    <!-- GWT request handler -->
    <b:bean id="lsfusionDispatch" class="lsfusion.gwt.server.LSFusionDispatchServlet"/>

    <!-- Custom request handlers -->
    <b:bean id="captchaHandler" class="lsfusion.http.captcha.ImageCaptchaRequestHandler"/>

    <b:bean id="readLogoHandler" class="lsfusion.http.ReadLogoRequestHandler"/>

    <b:bean id="readMemoryLimitsHandler" class="lsfusion.http.ReadMemoryLimitsRequestHandler"/>

    <b:bean id="propertyImageHandler" class="lsfusion.http.GetPropertyImageRequestHandler" />

    <b:bean id="fileUploadHandler" class="lsfusion.http.UploadFileRequestHandler" />

    <b:bean id="fileDownloadHandler" class="lsfusion.http.DownloadFileRequestHandler" />

    <b:bean id="jnlpHandler" class="lsfusion.http.ClientJNLPRequestHandler" />

    <b:bean id="externalHandler" class="lsfusion.http.ExternalRequestHandler"/>

</b:beans>