@def fontSize 8pt;

.dataGridWidget {
    border: 1px solid lightGrey;
    margin: 2px;
}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 2px solid #6f7277;
    border-left: 1px solid #CCCCCC;
    padding: 2px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}


.dataGridLastColumnHeader {
    border-right: 1px solid #CCCCCC;
}

.dataGridFirstColumnHeader {

}

.dataGridFirstColumnFooter {

}

.dataGridLastColumnFooter {

}

.dataGridFirstColumn {
}

.dataGridLastColumn {
    border-right: 1px solid #CCCCCC;
}

.dataGridCell {
    font-size: fontSize;

    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;

    padding: 0;

    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell div {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
}

.dataGridEvenRow {
    background: #ffffff;
}

.dataGridEvenRowCell {
}

/* убираем чередующиеся ряды */
.dataGridOddRow {
    background: #ffffff;
}

.dataGridOddRowCell {
}

.dataGridKeyboardSelectedRow {
    background: #F0F0FF;
}

.dataGridKeyboardSelectedRowCell {
}

.dataGridKeyboardSelectedCell {
    border-bottom: 1px solid #6262FF;
    border-left: 1px solid #6262FF;
}

.dataGridLastKeyboardSelectedCell {
    border-bottom: 1px solid #6262FF;
    border-left: 1px solid #6262FF;
    border-right: 1px solid #6262FF;
}

.dataGridRightOfKeyboardSelectedCell {
    border-left: 1px solid #6262FF;
}

.dataGridTopOfKeyboardSelectedCell {
    border-bottom: 1px solid #6262FF;
}
