/* modified copy com/google/gwt/user/cellview/client/DataGrid.css */

@def selectionBorderWidth 0px;
@def fontSize 8pt;

.dataGridWidget {

}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 14px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 14px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell {
    height: 16px;
    font-size: fontSize;
    padding: 0px 4px;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridCell div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
}


.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridEvenRow {
    background: #ffffff;
}

.dataGridEvenRowCell {
    border: selectionBorderWidth solid #ffffff;
}

.dataGridOddRow {
    background: #f3f7fb;
}

.dataGridOddRowCell {
    border: selectionBorderWidth solid #f3f7fb;
}

.dataGridKeyboardSelectedRow {
    background: #F0F0FF;
}

.dataGridKeyboardSelectedRowCell {
    border: selectionBorderWidth solid #F0F0FF;
}

.dataGridKeyboardSelectedCell {
    /*border: 1px solid #6262FF;*/
    outline: 1px solid #6262FF;
    outline-offset: -1px;
}

.dataGridLastKeyboardSelectedCell {
    /*border: 1px solid #6262FF;*/
    outline: 1px solid #6262FF;
    outline-offset: -1px;
}

.dataGridRightOfKeyboardSelectedCell {
}

.dataGridTopOfKeyboardSelectedCell {
}
