/* modified copy com/google/gwt/user/cellview/client/DataGrid.css */

@def selectionBorderWidth 0px;
@def fontSize 8pt;

.dataGridWidget {

}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 14px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 14px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-size: fontSize;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridRow {
    background: #ffffff;
}

.dataGridCell {
    font-size: fontSize;

    border: selectionBorderWidth solid #ffffff;

    padding: 0;

    overflow: hidden;
    white-space: nowrap;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridKeyboardSelectedRow {
    background: #F0F0FF;
}

.dataGridKeyboardSelectedRowCell {
    border: selectionBorderWidth solid #F0F0FF;
}

.dataGridFocusedCell {
    /*border: 1px solid #6262FF;*/
    outline: 1px solid #6262FF;
    outline-offset: -1px;
}

.dataGridFocusedCellLastInRow {
    /*border: 1px solid #6262FF;*/
    outline: 1px solid #6262FF;
    outline-offset: -1px;
}

.dataGridRightOfFocusedCell {
}

.dataGridTopOfFocusedCell {
}
