.navbar.navbar-vert {
    overflow-y: auto;
}

.navbar.navbar-horz {
    overflow-x: auto;
}

.navbar-nav {
    display: flex;
}

.navbar-nav.navbar-nav-horz {
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-nav.navbar-nav-vert {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*.nav-link.nav-link-vert {*/
/*    display: inline-grid;*/
/*    justify-items: center;*/
/*    align-self: center;*/
/*    text-align: center;*/
/*}*/
/*.nav-link-vert > i {*/
/*    font-size: 1.5rem;*/
/*}*/

.navbar-nav-horz .navbar-icon > i {
    font-size: 2.5rem
}
.navbar-nav-vert .navbar-icon > i {
    font-size: 1.5rem
}

.navbar-icon-large .nav-link > i,
.navbar-icon-large.nav-link > i {
    font-size: 1.5rem;
}
.navbar-icon-xlarge .nav-link > i,
.navbar-icon-xlarge.nav-link > i {
    font-size: 2.5rem
}

.navbar-nav.navbar-nav-horz .lsfi-logo:before {
    content: var(--lsfi-logo-horizontal-content);
}
.navbar-nav.navbar-nav-vert .lsfi-logo:before {
    content: var(--lsfi-logo-vertical-content);
}

.navbar-text-hidden .nav-link,
.navbar-text-hidden.nav-link {
    font-size: 0;
}
/* removing margins, since text is actually hidden */
.navbar-text-hidden .nav-link > i.wrap-text-img,
.navbar-text-hidden.nav-link > i.wrap-text-img {
    margin-bottom: 0;
    margin-right: 0;
}

.nav-link.nav-link-horz-1 {
    margin-left: 1rem;
}
.nav-link.nav-link-horz-2 {
    margin-left: 2rem;
}
.nav-link.nav-link-horz-3 {
    margin-left: 3rem;
}

/*.nav-link-horz .btn-image-img {*/
/*    height: 1rem;*/
/*}*/

.navbar-text-on-hover:not(:hover) .nav-link {
    font-size: 0;
}

.navbar-text-on-hover .nav-link {
    transition: font-size 300ms;
}

.panelNavigatorView {
    display: block;
}
