.navbar-nav {
    display: flex;
}

.navbar-nav.navbar-nav-horz {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.navbar-nav.navbar-nav-vert {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.nav-link.nav-link-vert {
    display: inline-grid;
    justify-items: center;
    align-self: center;
    text-align: center;
}

.nav-link-vert > i {
    font-size: 1.5rem;
}

.nav-link.nav-link-horz-1 {
    margin-left: 1rem;
}
.nav-link.nav-link-horz-2 {
    margin-left: 2rem;
}

.panelNavigatorView {
    display: block;
}
