.split-h-dragger {
    cursor: col-resize;
    width: 4px;
}

.split-v-dragger {
    cursor: row-resize;
    height: 4px !important;
}

.split-simple-window.margined-window {
    inset: var(--border-cont-vert-padding) var(--border-cont-horz-padding) !important; /* is overriden by split panel */
}