<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="clientlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="${user.home}/.fusion/logs/client.log"/>
            <param name="fileNamePattern" value="${user.home}/.fusion/logs/client-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ALL"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="clienterr" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="${user.home}/.fusion/logs/client-err.log"/>
            <param name="fileNamePattern" value="${user.home}/.fusion/logs/client-err-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="remotelog" class="lsfusion.logging.FlushableRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="${user.home}/.fusion/logs/client-remote.log"/>
            <param name="fileNamePattern" value="${user.home}/.fusion/logs/client-remote-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <category name="SystemLogger">
        <priority value="ALL"/>
    </category>

    <category name="RemoteLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="remotelog"/>
    </category>

    <category name="InvocationsLogger" additivity="false">
        <!--<priority value="OFF"/>-->
        <priority value="DEBUG"/>
        <appender-ref ref="remotelog"/>
        <!--<appender-ref ref="stdout"/>-->
    </category>

    <category name="ClientLogger" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="clientlog"/>
        <appender-ref ref="clienterr"/>
    </category>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="clientlog"/>
        <appender-ref ref="clienterr"/>
    </root>
</log4j:configuration>