
.leftBorder {
    margin-left: calc(0px - var(--border-padding));
    padding-left: var(--border-padding);
}

.topBorder {
    padding-top: var(--border-padding);
}

/* margin and not padding because we want the opposite borders to respect this padding */
/* also to have correct size / scroll when right component is wrapped */
.rightBorderNoWrap {
    margin-right: calc(var(--border-padding) + var(--border-padding));
}

.flexHorzBorderWrap {
    column-gap: calc(var(--border-padding) + var(--border-padding));
}

.bottomBorder {
    margin-bottom: var(--border-padding);
}
