
.oppositeSizeCssFixPanel {
}

.shrink-width {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}
.stretch-width {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
}

.remove-all-pmb {
    padding: 0;
    margin: 0;
    border: none;
}

.comp-shrink-horz {
    overflow-x : auto
}

.comp-shrink-vert {
    overflow-y : auto
}

.fill-parent-perc {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}