
.leftBorder {
    margin-left: calc(0px - var(--border-cont-horz-padding));
    padding-left: var(--border-cont-horz-padding);
}

.rightBorderNoWrap {
    margin-right: calc(var(--border-cont-horz-padding) + var(--border-cont-horz-padding));
}

.flexHorzBorderWrap {
    column-gap: calc(var(--border-cont-horz-padding) + var(--border-cont-horz-padding));
}

.topBorder {
    padding-top: var(--border-cont-vert-padding);
}

.bottomBorder {
    margin-bottom: var(--border-cont-vert-padding);
}
