
.oppositeSizeCssFixPanel {
}

.shrink-width {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}
.stretch-width {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
}

.remove-all-pmb, .remove-all-pmb.form-control, .remove-all-pmb.form-control:focus {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.comp-shrink-horz {
    overflow-x : auto
}

.comp-shrink-vert {
    overflow-y : auto
}

.fill-parent-perc {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.fill-parent-flex-cont {
    display: flex;
}

.fill-parent-flex {
    flex: 1 1 auto;
    align-self: stretch;
}

.display-flex {
    display : flex;
}

.display-grid {
    display : grid;
}

.flex-content-start {
    justify-content: flex-start;
}
.flex-content-center {
    justify-content: center;
}
.flex-content-end {
    justify-content: flex-end;
}
.flex-content-stretch {
    justify-content: stretch;
}

.flex-start {
    align-self: flex-start;
}
.flex-center {
    align-self: center;
}
.flex-end {
    align-self: flex-end;
}
.flex-stretch {
    align-self: stretch;
}

.grid-content-vert-start {
    justify-content: start;
}
.grid-content-vert-center {
    justify-content: center;
}
.grid-content-vert-end {
    justify-content: end;
}
.grid-content-vert-stretch {
    justify-content: stretch;
}
.grid-content-horz-start {
    align-content: start;
}
.grid-content-horz-center {
    align-content: center;
}
.grid-content-horz-end {
    align-content: end;
}
.grid-content-horz-stretch {
    align-content: stretch;
}

.grid-horz-start {
    justify-self: start;
}
.grid-horz-center {
    justify-self: center;
}
.grid-horz-end {
    justify-self: end;
}
.grid-horz-stretch {
    justify-self: stretch;
}
.grid-vert-start {
    align-self: start;
}
.grid-vert-center {
    align-self: center;
}
.grid-vert-end {
    align-self: end;
}
.grid-vert-stretch {
    align-self: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-dir-vert {
    flex-direction: column;
}
.flex-dir-horz {
    flex-direction: row;
}
.grid-dir-vert {
    grid-auto-flow: row;
}
.grid-dir-horz {
    grid-auto-flow: column;
}