.tab-panel-horz > .nav-tabs {
    padding-left: var(--border-cont-horz-padding);
}

/*.tab-panel-horz > .nav.nav-tabs {*/
/*    margin-right: var(--border-cont-horz-padding);*/
/*}*/
.tab-panel-horz > .tab-pane {
    padding-left: var(--border-cont-horz-padding);
}

.tab-panel-vert > .nav-tabs {
    padding-top: var(--border-cont-vert-padding);
}

/*.tab-panel-vert > .nav.nav-tabs {*/
/*    margin-bottom: var(--border-cont-vert-padding);*/
/*}*/
.tab-panel-vert > .tab-pane {
    padding-top: var(--border-cont-vert-padding);
}

/* cursors - now the captions are not <a> so we'll change the cursro explicitly */

.nav-link {
    cursor: pointer;
}

.nav-tabs .nav-link.active {
    cursor: default;
}

.nav-tabs .nav-item-disabled {
    cursor: default;
}


/* have no idea what it's for */
/*.nav-tabs-vert .nav-item-first {*/
/*    width: 0;  !* to make it invisible when all tabs are wrapped *!*/
/*}*/
/*.nav-tabs-vert .nav-item-rest {*/
/*    width: 0;  !* to make it invisible when all tabs are wrapped *!*/
/*}*/
/*.nav-tabs .nav-item-first {*/
/*    height: 0;  !* to make it invisible when all tabs are wrapped *!*/
/*}*/
/*.nav-tabs .nav-item-rest {*/
/*    height: 0;  !* to make it invisible when all tabs are wrapped *!*/
/*}*/

.tab-panel {
}

.tab-close-button {
}

/* ------------ Mobile Forms Tab Panel ------------ */
.mobileFormsTabPanel.tab-panel-vert > .nav-tabs {
    padding-top: 0;
    padding-bottom: var(--border-cont-vert-padding);
}

.mobileFormsTabPanel.tab-panel-vert > .nav-tabs .tabBarItemsWrapper {
    flex-wrap: nowrap !important;
    overflow-x: auto;

    scrollbar-width: none; /* hide scrollbars in Firefox */
}

.mobileFormsTabPanel.tab-panel-vert > .nav-tabs .tabBarItemsWrapper::-webkit-scrollbar {
    display: none; /* hide scrollbars in Safari and Chrome */
}

.mobileFormsTabPanel.tab-panel-vert > .nav-tabs .nav-item {
    border-top: none;
    border-bottom: 1px solid var(--panel-border-color);
    border-radius: var(--tab-border-radius-vert);
}

.mobileFormsTabPanel.tab-panel-vert > .nav-tabs .nav-item:hover {
    border-bottom: 1px solid var(--component-hover-border-color);
}

.mobileFormsTabPanel > .tab-pane {
    padding-top: 0;
    padding-bottom: var(--border-cont-vert-padding);
    border-top: none;
    border-bottom: 1px solid var(--panel-border-color);
}
