.nav-tabs-vert {
    padding-left: var(--border-padding);
    border-right: 1px solid var(--panel-border-color);
}

.nav.nav-tabs-vert {
    margin-right: var(--border-padding);
}

.nav-tabs-vert .nav-item-first {
    height: 0.1875rem;  /* first tab distance from the top */
    width: 0;  /* to make it invisible when all tabs are wrapped */
}
.nav-tabs-vert .nav-item-rest {
    width: 0;  /* to make it invisible when all tabs are wrapped */
}

.nav-tabs-horz {
    padding-top: var(--border-padding);
    border-bottom: 1px solid var(--panel-border-color);
}
.nav.nav-tabs-horz {
    margin-bottom: var(--border-padding);
}

.nav-tabs .nav-item-first {
    width: 0.1875rem;  /* first tab distance from the left */
    height: 0;  /* to make it invisible when all tabs are wrapped */
}
.nav-tabs .nav-item-rest {
    height: 0;  /* to make it invisible when all tabs are wrapped */
}
.nav-tabs .nav-item {
    font-weight: normal;
    text-align: center;
}
.nav-tabs .nav-link {
    border-top: 1px solid var(--panel-border-color);
    border-left: 1px solid var(--panel-border-color);
}
.nav-link {
    cursor: pointer;
    padding: 0.125rem 0.625rem;
}
.nav-link img {
    margin-right: 0.25rem;
}

.nav-tabs-vert .nav-link {
    border-bottom: 1px solid var(--panel-border-color);
    margin-top: 0.1875rem;
    border-radius: var(--tab-border-radius-vert);
}
.nav-tabs-horz .nav-link {
    border-right: 1px solid var(--panel-border-color);
    margin-left: 0.1875rem;
    border-radius: var(--tab-border-radius-horz);
}
.nav-tabs .nav-link.active {
    cursor: default;
    background: var(--selection-color);
}

.nav-tabs .nav-item-disabled {
    cursor: default;
    color: #999999;
}

.nav-tabs .nav-link:hover {
    border-top: 1px solid var(--component-hover-border-color);
    border-left: 1px solid var(--component-hover-border-color);
    /*background: var(--component-hover-background-color);*/
}
.nav-tabs-vert .nav-link:hover {
    border-bottom: 1px solid var(--component-hover-border-color);
}
.nav-tabs-horz .nav-link:hover {
    border-right: 1px solid var(--component-hover-border-color);
}

.nav-tabs .nav-link:focus {
    border-top: 1px solid var(--focus-color);
    border-left: 1px solid var(--focus-color);
}
.nav-tabs-vert .nav-link:focus {
    border-bottom: 1px solid var(--focus-color);
}
.nav-tabs-horz .nav-link:focus {
    border-right: 1px solid var(--focus-color);
}

.nav-tabs .nav-link.active:hover {
    /*background: var(--selection-color); */
}

.tab-panel {
    /*margin: 0 1px 1px;*/
}

.gwt-TabLayoutPanel {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    top: 0;
    display: flex;
    /*width: 100% !important;*/
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: var(--panel-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--panel-border-radius);
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: hidden;
    border-top: 1px solid transparent;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin: 0 0.125rem;
    padding: 0 0.1875rem 0.0625rem 0.3125rem;
    cursor: pointer;
    cursor: hand;
    font-weight: normal;
    text-align: center;
    border-top: 1px solid var(--panel-border-color);
    border-left: 1px solid var(--panel-border-color);
    border-right: 1px solid var(--panel-border-color);
    /*border-radius: var(--tab-border-radius);*/
    min-width: 19px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
    height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    background: var(--selection-color);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {
    border-top: 1px solid var(--component-hover-border-color);
    border-left: 1px solid var(--component-hover-border-color);
    border-right: 1px solid var(--component-hover-border-color);
    background: var(--component-hover-background-color);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {
    background: var(--selection-color);
}

.tabLayoutPanelTabTitleWrapper {
    flex-shrink: 1 !important;
}

.tab-close-button {
    margin-left: var(--border-padding);
}

/* ------------ Mobile Forms Tab Panel ------------ */
.mobileFormsTabPanel > .nav-tabs-horz {
    padding-top: 0;
    padding-bottom: var(--border-padding);
}

.mobileFormsTabPanel > .nav-tabs-horz .tabBarItemsWrapper {
    flex-wrap: nowrap !important;
    overflow-x: auto;

    scrollbar-width: none; /* hide scrollbars in Firefox */
}

.mobileFormsTabPanel > .nav-tabs-horz .tabBarItemsWrapper::-webkit-scrollbar {
    display: none; /* hide scrollbars in Safari and Chrome */
}

.mobileFormsTabPanel > .nav-tabs-horz .nav-item {
    border-top: none;
    border-bottom: 1px solid var(--panel-border-color);
    border-radius: var(--tab-border-radius-vert);
}

.mobileFormsTabPanel > .nav-tabs-horz .nav-item:hover {
    border-bottom: 1px solid var(--component-hover-border-color);
}

.mobileFormsTabPanel > .tab-pane {
    padding-top: 0;
    padding-bottom: var(--border-padding);
    border-top: none;
    border-bottom: 1px solid var(--panel-border-color);
}
